@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}




html, body{
  font-size-adjust: none;
  font-size: 100%;
  font-family: "Lato", sans-serif;
  line-height: 1.7;
  word-spacing: 2px;
}

:root{
  --primary-color: #66A3FF;
  --primary-color-one: #003366; /* 0, 51, 102 */
  --secondary-color: #66CC66;
  --secondary-color-400: rgb(102, 204, 102, .4);
  --secondary-color-200: rgb(102, 204, 102, .2);
  --section-padding: 4rem 10px;
}

a{
    display: block;
    color: inherit;
    text-decoration: none;
}

.btn-1 {
    /* padding-left: 2rem;
    padding-right: 2rem; */
    padding: 1rem 3rem;
    font-weight: 700;
    font-size: 14px;
    background: var(--secondary-color) !important;
    color: var(--primary-color-one);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
                 rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
                 rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.btn-outline-1{
    padding: .8rem 3rem;
    font-weight: 700;
    font-size: 14px;
    border: 2px double var(--secondary-color);
    background: whitesmoke !important;
    color: var(--secondary-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
                rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.navbar-expand-xl{
    background: linear-gradient(135deg, var(--primary-color), var(--primary-color-one));
}

.navbar-expand-xl .nav-item a{
color: aliceblue;
font-weight: 700;
font-size: small;
}

/** css for the hero page **/
#hero-page{
    background: linear-gradient(rgba(29, 16, 80, 0.5), rgba(60, 16, 164, 0.7)), 
                url("/static/images/hero-background.jpg");
    background-position: bottom;
    background-size: cover;
    min-height: 90vh;
}

#hero-page .row{
    background: rgb(255, 255, 255, 0.5); overflow: hidden;
    box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
    border-top: 1px solid rgb(255, 255, 255, 0.5);
    border-left: 1px solid rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(7px);
    border-radius: 15px;
}


#hero-page h1{
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
}

/** whyChooseUs **/

#whyChooseUs{
    padding: var(--section-padding);
}

h1,h2,h3,h4{
    font-weight: 700;
}

#whyChooseUs .icon{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary-color-200);
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    border-radius: 50%;
}

#whyChooseUs .icon .bi{
    color: var(--primary-color);
    font-size: 2rem;
}

/*
# Clients
*/
.clients {
    padding-top: 20px;
  }
  
.clients .swiper-slide img {
    /* opacity: 0.5; */
    transition: 0.3s;
    filter: grayscale(100);
}

.clients .swiper-slide img:hover {
    filter: none;
    opacity: 1;
}

.clients .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.clients .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    background-color: #ddd;
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
background-color: var(--secondary-color);
}

/** Investment plan section **/
#investmentPlans{
    padding: var(--section-padding);
}

#investmentPlans header p{
    font-size: 18px;
    padding: 15px 0;
}

#investmentPlans .plans{
    color: white !important;
    font-weight: 700;
    text-decoration: none;
    padding-top: 3rem !important;
}

#investmentPlans .plans .plan-details{
    padding-top: 7rem;
}

#investmentPlans i{
    color: #d4ff00;
    font-size: 18px;
    font-weight: 900;
    padding-right: 15px;
}


#investmentPlans .plans p, #investmentPlans .plans h2{
    color: white;
    font-weight: 700;
    text-shadow: -2px 4px 7px rgb(0,0,0,0.7);
}

#investmentPlans .plans .pricing{
    color: var(--secondary-color);
    font-weight: 900;
    text-shadow: -2px 4px 7px rgb(0,0,0,0.7);
}

#investmentPlans .plans .pricing small{
    color: var(--secondary-color);
    font-size: 18px;
}
#investmentPlans .plans .pricing sup{
    color: var(--secondary-color);
    font-weight: 400;
    text-shadow: -2px 4px 7px rgb(0,0,0,0.7);
}

#investmentPlans #oil-gas{
    background: linear-gradient(to bottom, rgb(0, 51, 102, .4) 20%, rgb(0, 51, 102, .9)),
                url("/static/images/oil_gas.jpg");
    background-size: cover;
    background-position:top;
}

#investmentPlans #realestates{
    background: linear-gradient(to bottom, rgb(0, 51, 102, .4) 20%, rgb(0, 51, 102, .9)),
                url("/static/images/realestate.jpg");
    background-size: cover;
    background-position:top;
}

#investmentPlans #silver_gold{
    background: linear-gradient(to bottom, rgb(0, 51, 102, .4) 20%, rgb(0, 51, 102, .9)),
                url("/static/images/precious_stones.jpg");
    background-size: cover;
    background-position:top;
}

/** === Achievements === **/
#achievements{
    padding: var(--section-padding);
    /* background: linear-gradient(to right,rgba(29, 16, 80, 0.5), rgba(60, 16, 164, 1), rgba(60, 16, 164, .7)); */
    background: var(--primary-color);
    min-height: 80vh;
    display: flex;
    align-items: center;
}