{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block content %}
  <!-- Section: Log In -->
      <section class="container">
        <div class="row gx-lg-5">
          <article class="col-lg-8 mx-auto mb-5">
            <div class="border-0 rounded-2">
                <form class="login" method="POST" action="{% url 'account_login' %}">
                  <div class="d-lg-none">
                    <h1 class="h2 fw-bold text-center text-white">{% trans "Login Into Account" %}</h1>
                    <p class="text-center text-muted">{% trans "Kindly enter your username and password." %}</p>
                  </div>
                  <br />
                  <div class="row">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <a class="button secondaryAction" href="{% url 'account_reset_password' %}"></a>
                    <div class="pb-4">
                      <button class="btn btn-danger fw-bolder btn-lg col-12 primaryAction" type="submit">{% trans "Log In" %}</button>
                    </div>
                    <div class="text-white d-flex justify-content-center">
                      <span class="pe-2">{% trans "Don't have an Account" %}</span>
                      <a class="text-warning secondaryAction d-flex" href="{% url 'account_signup' %}">
                        {% trans "Sign up" %}
                      </a>
                    </div>
                  </div>
                </form>
            </div>
          </article>
        </div>
  </section>
  <!-- Section: Log In -->
{% endblock content %}
