{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    
<!-- Section: Reset Password -->
<div class="m-auto text-center">
    <h1 class="fw-bold">{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="fs-6 text-white">
        <span class="d-block">Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</span>
    </p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    <div class="text-white">{{ form | crispy }}</div>
    <input class="btn btn-danger" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p class="text-white fst-italic pt-4">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
  <!-- Section: Reset Password -->
{% endblock %}
