{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}
{% trans "Signup" %}
{% endblock %}

{% block content %}

<!-- Section: Sign Up -->
<section class="p-0">
  <!-- Immediate div below serves as Jumbotron -->
  <div class="px-2 px-md-5 bg-black d-flex justify-content-center align-items-center vh-100">
    <div class="container">
      <div class="row gx-lg-5">
        <div class="col-lg-5 my-auto text-center text-lg-start d-none d-lg-block">
          <h1 class="display-3 fw-bold ls-tight">
            Discover unique <br />
            <span class="text-danger">investments</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            Dive into a realm of unparalleled investments prospects, 
            meticulously curated to propel your financial journey towards unprecedented success. 
            Discover the power of strategic investments and seize opportunities 
            that pave the way for lasting prosperity.
          </p>
        </div>

        <div class="col-lg-7">
          <div class="card border-0 rounded-2 bg-dark">
            <div class="card-body">
              <form class="signup p-2 p-md-4 " id="signup_form" method="post" enctype="multipart/form-data" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {% crispy form %}
                {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <!-- <button class="btn btn-primary btn-lg col-12 col-md-5 shadow" type="submit" value="create account">
                  {% trans "CREATE ACCOUNT" %}
                  </button> -->
              </form>
            </div>
          </div>
        </div>
        <div class="pt-md-5 pt-2 text-center" style="color: hsl(217, 10%, 50.8%)">&copy; {% trans "Copyright" %}
          <strong><span>Wealth Wheel Capital Investment.</span></strong><br />
          {% trans "All Rights Reserved" %}
        </div>
      </div>
      </div>
    </div>
  </section>
  <!-- Section: Sign Up -->

{% endblock %}