{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}
{% trans "Signup" %}
{% endblock %}

{% block content %}
<section class="container">
  <div class="row">
    <article class="col-12 col-md-10 offset-md-1 d-flex flex-column justify-content-center align-items-center">
      <form 
          class="signup p-2 p-md-5 bg-primary" 
          id="signup_form" method="post" 
          enctype="multipart/form-data" 
          action="{% url 'account_signup' %}"
        >
          {% csrf_token %}
          {% crispy form %}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <!-- <button class="btn btn-primary btn-lg col-12 col-md-5 shadow" type="submit" value="create account">
            {% trans "CREATE ACCOUNT" %}
            </button> -->
        </form>

    </article>
  </div>
</section>

{% endblock %}