{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %} {{title}} {% else %} RiazVest {% endif %}</title>
    <link rel="stylesheet" href="{% static 'css/b5css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/client.css' %}">

    <!-- Icons CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- Alertify CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/themes/default.min.css"/>

    <!-- swiss alert box custom -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <style>
      em.is-invalid {
        color: #dc3545;
        /* font-weight: bold; */
      }
    </style>

</head>
<body>
    
    <div>
      <!-- sidebar -->
      <div 
        class="sidebar d-md-flex flex-column vh-100" 
        id="responsiveSidebar"
      >
        <div class="sidebar-header d-md-none">
          <i class="bi bi-x-lg" onclick="toggleSidebar()"></i>
        </div>

        <div class="sidebar-body">
          <!-- Navbar Brand -->
          <a class="navbar-brand text-center" href="/">
              <img
              src="{% static 'images/logo.PNG' %}"
                alt="Riaz Wealth"    
                style="margin: auto; height: 150px; width: 300px; object-fit: cover;"
                class="d-inline-block align-center img-fluid"
              />
          </a>
          {% block sidebar %}
          <ul class="nav flex-column nav-pills mt-4" id="sidebarTabs" role="tablist">
            <li class="nav-item">
              <a 
                  class="nav-link active" 
                  id="tab-home" 
                  data-bs-toggle="pill" 
                  href="#content-dashboard" 
                  role="tab" 
                  aria-controls="content-home" 
                  aria-selected="true"
              >
                  <i class=" bi bi-house-door-fill" style="font-size: 1.2em;"></i>
                  Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a 
                  class="nav-link" 
                  id="tab-investments" 
                  data-bs-toggle="pill" 
                  href="#content-investment" 
                  role="tab" 
                  aria-controls="content-investments" 
                  aria-selected="false"
              >
                  <i class=" bi bi-graph-up-arrow"></i>
                  Investments
              </a>
            </li>
            <li class="nav-item">
              <a 
                  class="nav-link" 
                  id="tab-withdrawals" 
                  data-bs-toggle="pill" 
                  href="#content-withdrawals" 
                  role="tab" 
                  aria-controls="content-withdrawals" 
                  aria-selected="false"
              >
                  <i class=" bi bi-briefcase-fill" style="font-size: 1.2em;"></i>
                  Withdrawals
              </a>
            </li>
            <li class="nav-item">
              <a 
                  class="nav-link" 
                  id="tab-referrals" 
                  data-bs-toggle="pill" 
                  href="#content-referrals" 
                  role="tab" 
                  aria-controls="content-referrals" 
                  aria-selected="false"
              >
                  <i class="bi bi-people-fill"></i>
                  Referrals
              </a>
            </li>
            <li class="nav-item">
              <a 
                  class="nav-link" 
                  id="tab-profile" 
                  data-bs-toggle="pill" 
                  href="#content-profile" 
                  role="tab" 
                  aria-controls="content-profile" 
                  aria-selected="false"
              >
                  <i class="bi bi-person-circle"></i>
                  Profile & Settings
              </a>
            </li>
            <li class="nav-item">
              <a 
                  class="nav-link" 
                  id="tab-faq" 
                  data-bs-toggle="pill" 
                  href="#content-faq" 
                  role="tab" 
                  aria-controls="content-faq" 
                  aria-selected="false"
              >
                  <i class="bi bi-question-circle-fill"></i>
                  FAQ
              </a>
            </li>
            <li class="nav-item">
              <a 
                  class="nav-link" 
                  id="tab-profile" 
                  href="{% url 'account_logout' %}" 
                  aria-controls="content-profile" 
                  aria-selected="false"
              >
                  Logout
              </a>
            </li>
          </ul>
          {% endblock %}
        </div>
      </div> <!-- end of sidebar -->
    
      <!-- Main Content -->
      <div class="main-content flex-grow-1">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg" style="background: #F5F5F5">
          <div class="container-fluid">
            <!-- Sidebar Off-Canvas -->
            <button 
              class="btn toggler d-md-none" 
              type="button" 
              onclick="toggleSidebar()"
            >
              <span class="bi bi-list text-white" style="font-size: 20px;"></span>
            </button>
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
              <span class="navbar-toggler-icon"></span>
            </button> -->
            <!-- <div class="collapse navbar-collapse" id="navbarContent"> -->
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <div class="dropdown">
                      <a class="btn btn-outline-success dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Welcome, {{user.username }}
                      </a>
                    
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                          <a class="dropdown-item text-danger" href="{% url 'account_logout' %}">Logout</a>
                        </li>
                      </ul>
                    </div>
                </li>
              </ul>
            <!-- </div> -->
          </div>
        </nav>

        <!-- Alertify JavaScript -->
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/alertify.min.js"></script>

        <!-- Main Content Area -->
        <div class="tab-content p-2 p-lg-5" id="sidebarTabsContent">
            {% for message in messages %}
              <script>
                      alertify.set('notifier','position', 'top-right');
                      alertify.{{message.tags}}('{{message}}');
              </script>    
          {% endfor %}

          {% block content %}
          {% endblock %}
        </div>
      </div> <!-- end of content -->
  </div>


    
     
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>    
<!-- Bootstrap js -->
<script src="{% static 'js/b5js/bootstrap.bundle.min.js' %}"></script>
 <!-- Swiper JS -->
 <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
 <!-- Main customized js -->
 <script src="{% static 'js/main.js' %}"></script>

 <!-- Include Custom JS -->
<script>
  function toggleSidebar() {
      const sidebar = document.getElementById('responsiveSidebar');
      sidebar.classList.toggle('show'); // Toggle sidebar visibility
  }

  // Close sidebar if click occurs outside the sidebar
  document.addEventListener('click', function(event) {
      const sidebar = document.getElementById('responsiveSidebar');
      const toggleButton = document.querySelector('.toggler');
      
      // Close sidebar if click is outside the sidebar and toggle button
      if (!sidebar.contains(event.target) && !toggleButton.contains(event.target)) {
          sidebar.classList.remove('show');
      }
  });
</script>

 <script>
  function copyRef() {
      /** javascript code for click copy **/
      var copyText = document.getElementById("reflink");

      // Select the text field
      copyText.select();

      // Copy the text inside the text field
      navigator.clipboard.writeText(copyText.value);
      
      // Alert the copied text
      swal({
          title: "COPEID!",
          text: "Referrals link",
          icon: "success",
          button: "OK!",
      });
  }
</script>
</body>
</html>