{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %} {{title}} {% else %} RiazVest {% endif %}</title>
    <link rel="stylesheet" href="{% static 'css/b5css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/client.css' %}">

    <!-- Icons CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- swiss alert box custom -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <style>
      em.is-invalid {
        color: #dc3545;
        /* font-weight: bold; */
      }
    </style>

</head>
<body>
    
    <div class="container-fluid">
        <div class="row">
          <!-- Sidebar -->
          <nav class="col-md-3 col-lg-2 d-md-block sidebar">
            <div class="position-fixed">
                <!-- Navbar Brand -->
                <a class="navbar-brand text-center" href="/">
                    <img
                    src="{% static 'images/logo.PNG' %}"
                    alt="Riaz Wealth"    
                    style="margin: auto; height: 100px; width: 100%; object-fit: cover;"
                    class="d-inline-block align-center img-fluid"
                    />
                </a>
              {% block sidebar %}
              <ul class="nav flex-column nav-pills mt-4" id="sidebarTabs" role="tablist">
                <li class="nav-item">
                    <a 
                        class="nav-link active" 
                        id="tab-home" 
                        data-bs-toggle="pill" 
                        href="#content-dashboard" 
                        role="tab" 
                        aria-controls="content-home" 
                        aria-selected="true"
                    >
                        <i class=" bi bi-house-door-fill" style="font-size: 1.2em;"></i>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a 
                        class="nav-link" 
                        id="tab-investments" 
                        data-bs-toggle="pill" 
                        href="#content-investment" 
                        role="tab" 
                        aria-controls="content-investments" 
                        aria-selected="false"
                    >
                        <i class=" bi bi-graph-up-arrow"></i>
                        Investments
                    </a>
                </li>
                <li class="nav-item">
                    <a 
                        class="nav-link" 
                        id="tab-withdrawals" 
                        data-bs-toggle="pill" 
                        href="#content-withdrawals" 
                        role="tab" 
                        aria-controls="content-withdrawals" 
                        aria-selected="false"
                    >
                        <i class=" bi bi-briefcase-fill" style="font-size: 1.2em;"></i>
                        Withdrawals
                    </a>
                </li>
                <li class="nav-item">
                    <a 
                        class="nav-link" 
                        id="tab-referrals" 
                        data-bs-toggle="pill" 
                        href="#content-referrals" 
                        role="tab" 
                        aria-controls="content-referrals" 
                        aria-selected="false"
                    >
                        <i class="bi bi-people-fill"></i>
                        Referrals
                    </a>
                </li>
                <li class="nav-item">
                    <a 
                        class="nav-link" 
                        id="tab-profile" 
                        data-bs-toggle="pill" 
                        href="#content-profile" 
                        role="tab" 
                        aria-controls="content-profile" 
                        aria-selected="false"
                    >
                        <i class="bi bi-person-circle"></i>
                        Profile & Settings
                    </a>
                </li>
                <li class="nav-item">
                    <a 
                        class="nav-link" 
                        id="tab-faq" 
                        data-bs-toggle="pill" 
                        href="#content-faq" 
                        role="tab" 
                        aria-controls="content-faq" 
                        aria-selected="false"
                    >
                        <i class="bi bi-question-circle-fill"></i>
                        FAQ
                    </a>
                </li>
                <li class="nav-item">
                    <a 
                        class="nav-link" 
                        id="tab-profile" 
                        data-bs-toggle="pill" 
                        href="#content-profile" 
                        role="tab" 
                        aria-controls="content-profile" 
                        aria-selected="false"
                    >
                        Logout
                    </a>
                </li>
              </ul>
              {% endblock %}
            </div>
          </nav>
    
          <!-- Main Content -->
          <div class="col-md-9 me-auto col-lg-10 p-0">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg" style="background: #F5F5F5">
              <div class="container-fluid">
                <a class="navbar-brand" href="#">Dashboard</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarContent">
                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link 1</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link 2</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
    
            <!-- Main Content Area -->
            <div class="tab-content p-5" id="sidebarTabsContent">
              {% block content %}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>

    
     
        
<!-- Bootstrap js -->
<script src="{% static 'js/b5js/bootstrap.bundle.min.js' %}"></script>
 <!-- Swiper JS -->
 <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
 <!-- Main customized js -->
 <script src="{% static 'js/main.js' %}"></script>
 <!-- Box icon js -->
 <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
 <script src="{% static 'js/jquery.min.js' %}"></script>
 <script src="{% static 'js/jquery.validate.min.js' %}"></script>
 <script src="{% static 'js/deposit_validation.js' %}"></script>

 <!-- Scripts to handle copying payment addresses -->
 <script>
    function copyWallet(id) {
      const btc_wallet = document.getElementById("btc_wallet");
      const usdt_wallet = document.getElementById("usdt_wallet");
      if (id === "btc") {
        btc_wallet.select();
        navigator.clipboard.writeText(btc_wallet.value);
        swal({
          title: "COPEID!",
          text: btc_wallet.value,
          icon: "success",
          button: "OK",
        });
      } else if (id === "usdt") {
        usdt_wallet.select();
        navigator.clipboard.writeText(usdt_wallet.value);
        swal({
          title: "COPEID!",
          text: usdt_wallet.value,
          icon: "success",
          button: "OK!",
        });
      } else if (id === "ethereum") {
        ethereum_wallet.select();
        navigator.clipboard.writeText(ethereum_wallet.value);
        swal({
          title: "COPEID!",
          text: ethereum_wallet.value,
          icon: "success",
          button: "OK!",
        });
        // alert("Copied the text: " + ethereum_wallet.value);
      }
    }
  </script>

 <!-- Css to handle hide and show of wallet addresses -->
 <script>
  const el = document.getElementById("id_payment_type");
  const usdt = document.getElementById("usdt");
  const btc = document.getElementById("btc");
  const ethereum = document.getElementById("ethereum");
  console.log("usdt: ", usdt)
  console.log("ubtc: ", btc)

  el.addEventListener("change", function handleChange(event) {
    const result = event.target.value;
    if (result === "usdt") {
      usdt.style.display = "block";
      btc.style.display = "none";
      ethereum.style.display = "none";
    } else if (result === "bitcoin") {
      usdt.style.display = "none";
      btc.style.display = "block";
      ethereum.style.display = "none";
    } else if (result === "ethereum") {
      usdt.style.display = "none";
      btc.style.display = "none";
      ethereum.style.display = "block";
    } else {
      usdt.style.display = "none";
      btc.style.display = "none";
      ethereum.style.display = "none";
    }
  });
</script>
</body>
</html>