{% extends 'base.html' %}

{% block content %}
<div class="tab-pane fade show active" id="content-dashboard" role="tabpanel" aria-labelledby="tab-home">
    {% include 'users/dashboard_tab.html' %}
</div>
<div class="tab-pane fade" id="content-investment" role="tabpanel" aria-labelledby="tab-investment">
    {% include 'users/investments_tab.html' %}
</div>

<div class="tab-pane fade" id="content-withdrawals" role="tabpanel" aria-labelledby="tab-withdrawals">
    {% include 'users/withdrawals_tab.html' %}
</div>

<div class="tab-pane fade" id="content-referrals" role="tabpanel" aria-labelledby="tab-referrals">
    {% include 'users/referrals_tab.html' %}
</div>

<div class="tab-pane fade" id="content-profile" role="tabpanel" aria-labelledby="tab-profile">
    {% include 'users/profile_tab.html' %}
</div>

<div class="tab-pane fade" id="faq-profile" role="tabpanel" aria-labelledby="tab-faq">
    {% include 'users/faq_tab.html' %}
</div>
{% endblock content %}