{% load static %}
    <section>
        <div class="container">
            <section class="row gy-4">
                <div class="col-12 col-sm-6 col-lg-4">
                    <a class="d-flex summary shadow-sm">
                        <i class="bi bi-graph-up-arrow"></i>
                        <div class="ps-4">
                            <p>Total Investment</p>
                            <p><b>{{total_investments}}</b></p>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <a href="" class="d-flex summary shadow-sm">
                        <i class="bi bi-briefcase"></i>
                        <div class="ps-4">
                            <p>Active Plans</p>
                            <p><b>{{total_plans}}</b></p>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <a href="#" class="d-flex summary shadow-sm">
                        <i class="bi bi-coin"></i>
                        <div class="ps-4">
                            <p>Total Profits</p>
                            <p><b>{{total_profits}}</b></p>
                        </div>
                    </a>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <a href="#" class="d-flex summary shadow-sm">
                        <i class="bi bi-people"></i>
                        <div class="ps-4">
                            <p>Total Referrals</p>
                            <p><b>{{total_referrals}}</b></p>
                        </div>
                    </a>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <a href="#" class="d-flex summary shadow-sm">
                        <i class="bi bi-wallet2"></i>
                        <div class="ps-4">
                            <p>Withdrawals Amount</p>
                            <p><b>{{total_referrals}}</b></p>
                        </div>
                    </a>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <a href="#" class="d-flex summary shadow-sm">
                        <i class="bi bi-currency-bitcoin"></i>
                        <div class="ps-4">
                            <p>Referrals Earnings</p>
                            <p><b>{{total_bonuses}}</b></p>
                        </div>
                    </a>
                </div>
            </section>

            <!-- === Notifications Section === -->
             <section class="row my-5 g-4">
                <article class="col-12 col-md-6">
                    <div class="border shadow-sm p-2 p-md-4 bg-light rounded-end-4">
                        <header class="h3">
                            General Informations
                        </header>
                        <div class="accordion" id="accordionExample">
                            {% for new in general_news %}
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="heading{{ item.id }}">
                                <button 
                                    class="accordion-button {% if not forloop.first %}collapsed{% endif %}" 
                                    type="button" 
                                    data-bs-toggle="collapse" 
                                    data-bs-target="#collapse{{new.id}}" 
                                    aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" 
                                    aria-controls="collapse{{new.id}}">
                                  {{new.title}}
                                </button>
                              </h2>
                              <div 
                                id="collapse{{new.id}}" 
                                class="accordion-collapse collapse {% if forloop.first %}show{% endif %}" 
                                aria-labelledby="heading{{ new.id }}" 
                                data-bs-parent="#accordionExample"
                            >
                                <div class="accordion-body">
                                  {{new.message | truncatechars:100 |safe}}
                                </div>
                              </div>
                            </div>
                            {% empty %}
                            <div class="alert alert-info">
                                No General News
                            </div>
                            {% endfor %}
                        </div>   
                    </div>
                </article>

                <!--=== Start of key notifications ===-->
                <article class="col-12 col-md-6">
                    <div class="border shadow-sm p-2 p-md-4 bg-light rounded-start-4">
                        <header class="h3">
                            Notifications
                        </header>
                        <div class="accordion" id="accordionExample">
                            {% for new in general_news %}
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="heading{{ item.id }}">
                                <button 
                                    class="accordion-button {% if not forloop.first %}collapsed{% endif %}" 
                                    type="button" 
                                    data-bs-toggle="collapse" 
                                    data-bs-target="#collapse{{new.id}}" 
                                    aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" 
                                    aria-controls="collapse{{new.id}}">
                                  {{new.title}}
                                </button>
                              </h2>
                              <div 
                                id="collapse{{new.id}}" 
                                class="accordion-collapse collapse {% if forloop.first %}show{% endif %}" 
                                aria-labelledby="heading{{ new.id }}" 
                                data-bs-parent="#accordionExample"
                            >
                                <div class="accordion-body">
                                  {{new.message | truncatechars:100 |safe}}
                                </div>
                              </div>
                            </div>
                            {% empty %}
                            <div class="alert alert-info">
                                No General News
                            </div>
                            {% endfor %}
                        </div>   
                    </div>
                </article>
             </section>

            <section class="row pt-5 g-5">
                <div class="col-12 col-lg-10">
                    <div>
                        <h3>Active Investment</h3>

                        {% for investment in user_investments %}
                        <div
                            data-aos="fade-up"
                            data-aos-delay="100"
                            class="row my-3 border p-4 bg-light"
                        >
                            <div class="col-12 col-md-5">
                                <img 
                                    src="{{investment.investment_plan.image.url}}" 
                                    alt="" 
                                    class="img-fluid rounded-5"
                                    style="object-fit: cover; height: 100%; width: 100%;"
                                >
                            </div>
                            
                            <div class="col-12 col-lg-7 p-3">
                                <table class="table table-borderless" style="background: transparent !important;">
                                    <tr>
                                        <td>
                                            Investment name:
                                        </td>
                                        <td class="text-end">
                                            <span class="fw-bolder text-success">{{investment.investment_plan}}</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Status:
                                        </td>
                                        <td class="text-end">
                                            {% if investment.status %}
                                                <span class="fw-bolder text-success">{{ investment.status }}</span>
                                            {% else %}
                                                <span class="fw-bolder text-danger">Pending</span>
                                            {% endif %}

                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Invested Amount:
                                        </td>
                                        <td class="text-end">
                                            <b><sup>$</sup>{{investment.amount}}</b>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Daily Profit:
                                        </td>
                                        <td class="text-end">
                                            <b><sup>$</sup>{{investment.daily_profits}}</b>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Next Accrual:
                                        </td>
                                        <td class="text-end">
                                            <b>{{investment.next_accrual_date}}</b>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        {% empty %}
                            <div>
                                <p class="alert alert-info">No Investments yet</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section> <!-- End of all payments row -->
        </div>
    </section>

    <!-- 
            <tr>
                <td>
                    Referral Links
                </td>
                <td class="text-end">
                    <button
                        class="btn btn-lg btn-success copy"
                        id="copyref"
                        onclick="copyRef()"
                    >
                        <i class="bi bi-clipboard-check-fill pe-3 text-light"></i>Copy Link
                    </button>
                    <input 
                        id="reflink"
                        type="hidden" 
                        value="{{ request.scheme }}://{{ request.get_host }}/accounts/signup/?referral={{ user.profiles.referral_code }}"
                    />
                </td>
            </tr> -->