{% load static %}
    <section>
        <div class="container">
            <section class="row gy-4">
                <di class="col-12 col-sm-6 col-lg-4">
                    <a class="d-flex summary shadow-sm">
                        <i class="bi bi-graph-up-arrow"></i>
                        <div class="ps-4">
                            <p>Total Investment</p>
                            <p><b>{{total_investments}}</b></p>
                        </div>
                    </a>
                </di>
                <div class="col-12 col-sm-6 col-lg-4">
                    <a href="" class="d-flex summary shadow-sm">
                        <i class="bi bi-briefcase"></i>
                        <div class="ps-4">
                            <p>Active Plans</p>
                            <p><b>{{total_plans}}</b></p>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <a href="#" class="d-flex summary shadow-sm">
                        <i class="bi bi-coin"></i>
                        <div class="ps-4">
                            <p>Total Profits</p>
                            <p><b>{{total_profits}}</b></p>
                        </div>
                    </a>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <a href="#" class="d-flex summary shadow-sm">
                        <i class="bi bi-people"></i>
                        <div class="ps-4">
                            <p>Total Referrals</p>
                            <p><b>{{total_referrals}}</b></p>
                        </div>
                    </a>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <a href="#" class="d-flex summary shadow-sm">
                        <i class="bi bi-wallet2"></i>
                        <div class="ps-4">
                            <p>Withdrawals Amount</p>
                            <p><b>{{total_referrals}}</b></p>
                        </div>
                    </a>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <a href="#" class="d-flex summary shadow-sm">
                        <i class="bi bi-currency-bitcoin"></i>
                        <div class="ps-4">
                            <p>Referrals Earnings</p>
                            <p><b>{{total_bonuses}}</b></p>
                        </div>
                    </a>
                </div>
            </section>

            <section class="row pt-5 g-5">
                <div class="col-12 col-lg-5">
                    <div class="p-4 bg-white rounded-2 shadow-lg">
                        <table class="table">
                            <tr>
                                <td>
                                    Full Name
                                </td>
                                <td class="text-end">
                                    <b>{{user.first_name}} {{user.last_name}}</b>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    Next Accrual Date
                                </td>
                                <td class="text-end">
                                    <b>05/16/2025</b>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    Next Profit
                                </td>
                                <td class="text-end">
                                    <b><sup>$</sup>120</b>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    Referral Links
                                </td>
                                <td class="text-end">
                                    <button
                                        class="btn btn-lg btn-success copy"
                                        id="copyref"
                                        onclick="copyRef()"
                                    >
                                        <i class="bi bi-clipboard-check-fill pe-3 text-light"></i>Copy Link
                                    </button>
                                    <input 
                                        id="reflink"
                                        type="hidden" 
                                        value="{{ request.scheme }}://{{ request.get_host }}/accounts/signup/?referral={{ user.profiles.referral_code }}"
                                    />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-12 col-lg-7">
                    <div>
                        <h3>Active Investment</h3>

                        <div
                            data-aos="fade-up"
                            data-aos-delay="100"
                            class="row m-1 border p-4 bg-light"
                        >
                        {% for user_investment in user_investments %}
                            <div class="col-12 col-md-5 col-lg-6">
                                <img 
                                    src="{% static '/images/oil_gas.jpg' %}" 
                                    alt="" 
                                    class="img-fluid rounded-5"
                                    style="object-fit: cover; height: 100%; width: 100%;"
                                >
                            </div>
                            
                            <div class="col-12 col-lg-6 p-3">
                                <table class="table table-borderless" style="background: transparent !important;">
                                    <tr>
                                        <td>
                                            Investment name:
                                        </td>
                                        <td class="text-end">
                                            <span class="fw-bolder text-success">Real Estate</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Invested Amount:
                                        </td>
                                        <td class="text-end">
                                            <b><sup>$</sup>100,000</b>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Total Profit:
                                        </td>
                                        <td class="text-end">
                                            <b><sup>$</sup>10,000</b>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Daily Profit:
                                        </td>
                                        <td class="text-end">
                                            <b><sup>$</sup>100</b>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Next Accrual:
                                        </td>
                                        <td class="text-end">
                                            <b>05/05/2025</b>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        {% empty %}
                            <div>
                                <p class="alert alert-info">No Investments yet</p>

                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </section>