{% load static %}
{% load crispy_forms_tags %}
<section>
    <div class="container">

        <div class="row">
            <article class="col-12 col-lg-10 mx-auto">
                <div class="bg-white rounded-4 shadow-sm">
                    <header class="p-3 border-bottom text-center">
                        <h3>PROFILE INFO</h3>
                    </header>
                    <form action="" method="post" class="p-5">
                        {% csrf_token %}
                        {% crispy user_form %}
                        {% crispy profile_form %}

                        <div>
                            <button class="btn-1 btn" type="submit">
                                UPDATE PROFILE
                            </button>
                        </div>
                    </form>
                </div>
            </article>
        </div>
        
    </div>
</section>