{% load static %}
<section id="referral">
    <div class="container">
        <article class="row gy-4">
            <div class="col-12 col-lg-10 mx-auto text-center">
                <header>
                    <h5 class="pb-4">Don't miss out - Invite friends and family today.</h5>
                    <div>
                        <button
                            class="btn-1 copy"
                            id="copyref"
                            onclick="copyRef()"
                        >
                            <i class="bi bi-clipboard-check-fill pe-3 text-light"></i>
                            Copy your link
                        </button>
                        <input 
                            id="reflink"
                            type="hidden" 
                            value="{{ request.scheme }}://{{ request.get_host }}/accounts/signup/?referral={{ user.profiles.referral_code }}"
                        />
                    </div>
                </header>
            </div>
        </article>

        <article class="row py-5">
            <div class="col-12 col-md-4">
                <div class="d-flex summary">
                    <i class="bi bi-upc-scan"></i>
                    <div class="ps-4">
                        <p>Referrals Code</p>
                        <p class="fw-bolder">
                            {{user.profiles.referral_code}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="d-flex summary">
                    <i class="bi bi-people"></i>
                    <div class="ps-4">
                        <p>Total Referred</p>
                        <p class="fw-bolder">
                            {{total_referrals}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="d-flex summary">
                    <i class="bi bi-currency-dollar"></i>
                    <div class="ps-4">
                        <p>Referral Bonuses</p>
                        <p>
                            <sup>$</sup>{{total_bonuses}}
                        </p>
                    </div>
                </div>
            </div>
        </article>

        <article class="row gy-4 py-4">
            <div class="col-12 col-lg-10 mx-auto text-center">
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Referree</th>
                                <th>Investment Amount</th>
                                <th>Bonus</th>
                                <th>Bonus Status</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for referral in referrals %}   
                        <tr>
                            <td>{{referral.id}}</td>
                            <td>{{referral.referred_to}}</td>
                            <td>{{referral.referred_to}}</td>
                            <td>{{referral.bonus}}</td>
                            <td>{{referral.bonus_status}}</td>
                            <td>{{referral.created_at}}</td>
                        </tr>
                        {% empty %}
                            <div>
                                <p class="alert alert-info">No Referrals, Start Referring.</p>

                            </div>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </article>
    </div>
</section>