{% load static %}
{% load crispy_forms_tags %}
<section>
    <div class="container">
        <section class="row g-4">
            <div class="col-12 col-lg-6">
                <legend class="text-center pb-4">
                    <h3>Request Withdrawals</h3>
                </legend>
                <form method="post" class="p-5 border bg-light">
                    {% csrf_token %}
                    {% crispy withdrawal_form %}
                </form>
            </div>

            <div class="col-12 col-lg-6">
                <div class="p-3 bg-white table-responsive">
                    <table class="table table-striped table-hover">
                        <tr>
                            <td>
                                Available balance
                            </td>
                            <td class="fw-bolder text-end">
                                <p>{{total_profits}}</p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Withdrawable balance
                            </td>
                            <td class="fw-bolder text-end">
                                <p>{{total_profits}}</p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Ethereum Address
                            </td>
                            <td class="fw-bolder text-end">
                                {{user.profiles.ethereum_wallet}}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Bitcoin Address
                            </td>
                            <td class="fw-bolder text-end">
                                {{user.profiles.bitcoin_wallet}}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                USDT Address
                            </td>
                            <td class="fw-bolder text-end">
                                {{user.profiles.usdt_wallet}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>

        <!-- === Withdrawals Histories === -->
         <section class="row pt-5">
            <div class="col-12 table-responsive">
                <table class="table mt-4 table-hover">
                    <thead class="bg-light">
                        <tr>
                            <th scope="col">WITHDRAWAL'S CODE</th>
                            <th scope="col">OPTIONS</th>
                            <th scope="col">PAYMENT METHOD</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody
                        class="
                        animate__animated
                        animate__fadeInUp
                        animate_slow
                        "
                    >
                        {%for withdrawal in withdrawals %}
                        <tr>  
                            <td>
                               <span class="fw-bold">{{withdrawal.id | upper}}</span>
                            </td>
                            <td>
                                {{withdrawal.payment_option}}
                            </td>
                            <td>
                                {{withdrawal.payment_status}}
                            </td>
                        </tr>
                        {% empty %}
                        <p class="alert alert-info fw-bolder">No withdrawal Recorded.</p>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
         </section>
    </div>
</section>