{% load static %}
{% load crispy_forms_tags %}
<section>
    <div class="container">
        <section class="row g-4">
            <div class="col-12 col-lg-6">
                <legend class="text-center pb-4">
                    <h3>Request Withdrawals</h3>
                </legend>
                {% if user.profiles.usdt_wallet or user.profiles.bitcoin_wallet or user.profiles.ethereum_wallet %}
                <form 
                    method="post" 
                    class="
                        p-5 bg-light border
                        animate__animated animate__zoomIn
                    ">
                    {% crispy withdrawal_form %}
                </form>
                {% else %}
                <h5 class="alert alert-info">
                    <span>Please update your payments wallets to Display Form.</span>
                </h5>
                {% endif %}
            </div>

            <div class="col-12 col-lg-6">
                <header
                    class="h5 alert alert-info"
                >
                    <i class="bi bi-exclamation-triangle-fill text-danger"></i>
                    Please Make sure your wallet address are correct
                    as selected.
                </header>
                <div class="p-3 table-responsive">
                    <table class="table table-striped table-hover">
                        <tr>
                            <td>
                                Available balance
                            </td>
                            <td class="fw-bolder text-end">
                                <p>{{total_profits}}</p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Withdrawable balance
                            </td>
                            <td class="fw-bolder text-end">
                                <p>{{total_profits}}</p>
                            </td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <td>
                                Ethereum Address
                                <p class="fw-bolder text-end">
                                    {{user.profiles.ethereum_wallet}}
                                </p>
                            </td>
                            
                        </tr>

                        <tr>
                            <td>
                                Bitcoin Address
                                <p class="fw-bolder text-end">
                                    {{user.profiles.bitcoin_wallet}}
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                USDT Address
                                <p class="fw-bolder text-end">
                                    {{user.profiles.usdt_wallet}}
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>

        <!-- === Withdrawals Histories === -->
         <section class="row pt-5">
            <div class="col-12 table-responsive p-3 bg-white rounded-4">
                <table class="table mt-4 table-hover">
                    <thead class="table-info">
                        <tr>
                            <th scope="col">WITHDRAWAL'S CODE</th>
                            <th scope="col">From</th>
                            <th scope="col">Amount</th>
                            <th scope="col">PAYMENT METHOD</th>
                            <th scope="col">Status</th>
                            <th>Date Sent</th>
                        </tr>
                    </thead>
                    <tbody
                        class="
                        animate__animated
                        animate__fadeInUp
                        animate_slow
                        "
                    >
                        {%for withdrawal in withdrawals %}
                        <tr>  
                            <td>
                               <span class="fw-bold">{{withdrawal.id | upper}}</span>
                            </td>
                            <td>
                                <span class="fw-bold">{{withdrawal.investment.investment_plan}}</span>
                             </td>
                             <td>
                                <span class="fw-bold">${{withdrawal.amount}}</span>
                             </td>
                            <td>
                                {{withdrawal.payment_option}}
                            </td>
                            <td>
                                {% if withdrawal.status == "pending" %}
                                <span class="badge text-bg-warning">{{withdrawal.status}}</span>
                                {% elif withdrawal.status == "rejected" %}
                                <span class="badge text-bg-danger">{{withdrawal.status}}</span>
                                {% elif withdrawal.status == "approved" %}
                                <span class="badge text-bg-success">{{withdrawal.status}}</span>
                                {% else %}
                                <span class="badge text-bg-secondary">Wrong status</span>
                                {% endif %}

                            </td>
                            <td>
                                {{withdrawal.created_at}}
                            </td>
                        </tr>
                        {% empty %}
                        <p class="alert alert-info fw-bolder">No withdrawal Recorded.</p>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
         </section>
    </div>
</section>