{% load static %}
<section>
    <div class="container">
        <section class="row gy-5">
            <div class="col-12">
                <h3>Admin / Dashboard</h3>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <a class="d-flex summary shadow-sm">
                    <i class="bi bi-graph-up-arrow"></i>
                    <div class="ps-4">
                        <p>Total Earnings</p>
                        <p><b>0</b></p>
                    </div>
                </a>
            </div>
            
            <div class="col-12 col-sm-6 col-lg-4">
                <a href="" class="d-flex summary shadow-sm">
                    <i class="bi bi-briefcase"></i>
                    <div class="ps-4">
                        <p>Total Clients</p>
                        <p><b>0</b></p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <a href="#" class="d-flex summary shadow-sm">
                    <i class="bi bi-coin"></i>
                    <div class="ps-4">
                        <p>Plans</p>
                        <p><b>0</b></p>
                    </div>
                </a>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <a href="#" class="d-flex summary shadow-sm">
                    <i class="bi bi-people"></i>
                    <div class="ps-4">
                        <p>Total Referrals</p>
                        <p><b>0</b></p>
                    </div>
                </a>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <a href="#" class="d-flex summary shadow-sm">
                    <i class="bi bi-wallet2"></i>
                    <div class="ps-4">
                        <p>Total Investments</p>
                        <p><b>0</b></p>
                    </div>
                </a>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <a href="#" class="d-flex summary shadow-sm">
                    <i class="bi bi-currency-bitcoin"></i>
                    <div class="ps-4">
                        <p>Withdrawals Request</p>
                        <p><b>0</b></p>
                    </div>
                </a>
            </div>
        </section>
    </div>
</section>