{% load static %}
<section>
    <div class="container">
        <section class="row gy-5 py-4">
            <div class="col-12">
                <h3>Admin / Investments</h3>
            </div>
        </section>

        <section class="row gy-5">
            <div class="col-6 col-md-4">
                <div class="shadow-sm summary  text-center">
                    <i class="bi bi-briefcase-fill me-2"></i>
                    <div class="pt-2"> 
                        <h4>{{total_investments}}</h4>
                         <p>All Investments</p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-4">
                <div class="shadow-sm summary  text-center">
                    <i class="bi bi-briefcase-fill me-2 text-success"></i>
                    <div class="pt-2"> 
                        <h4>{{total_active}}</h4>
                         <p>Active Investments</p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-4">
                <div class="shadow-sm summary  text-center">
                    <i class="bi bi-briefcase-fill me-2 text-warning"></i>
                    <div class="pt-2"> 
                        <h4>{{total_pending}}</h4>
                         <p>PendingInvestments</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="row gy-5 py-4">
            <article class="col-12 mx-auto">
                <div>
                    <table 
                    class="
                        table
                        animate__animated
                        animate__fadeInUp
                        animate_slow
                    ">
                    <thead>
                        <tr>
                            <!-- <th scope="col">S.NO</th> -->
                            <th scope="col">Investment Name</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Profit</th>
                            <th scope="col">Interval</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for investment in investments %}

                        <tr>
                            <!-- <td>   
                                {{forloop.counter}}
                            </td> -->
                            <td class="fw-bolder">
                                <a href="#">
                                    <b>{{investment.investment_plan.name}}</b>
                                </a>                                   
                            </td>
                            <td>
                                ${{investment.amount}}
                            </td>
                            <td>
                                <span>${{investment.calculate_daily_profit}}</span> 
                            </td>
                            <td>
                                {{investment.next_accrual_date}}
                            </td>

                            <td>
                                {{investment.investment_date}}
                            </td>

                            <td>
                               {% if investment.status %}
                                <span class="fw-bolder text-success">Active</span> 
                               {% else %}
                                <span class="fw-bolder text-danger">Not Active</span> 
                               {% endif %}
                            </td>
                            <td class="d-flex flex-row">
                                <a href="#" data-bs-toggle="modal" 
                                    data-bs-target="#studentDetailsModal{{investment.id}}" 
                                    class="btn btn-info btn-lg mb-2 mx-2" 
                                    data-toggle="tooltip" 
                                    data-placement="bottom" 
                                    title="Studebt Details"
                                >
                                    <i class="bi bi-info-circle text-dark"></i>
                                </a>
                                
                                <a 
                                    href="" 
                                    class="btn btn-warning btn-sm mx-2 mb-2" 
                                    data-toggle="tooltip" 
                                    data-placement="bottom" 
                                    title="Edit Student Info"
                                >
                                    <i class="bi bi-pencil-square text-dark"></i>
                                </a>

                                <a 
                                    href="#" 
                                    class="btn btn-dark btn-sm mx-2 mb-2" 
                                    data-bs-toggle="modal" 
                                    data-bs-target="#DeactivateStudentModal{{investment.id}}" 
                                    data-toggle="tooltip" 
                                    data-placement="bottom" 
                                    title="Deactivate Student">
                                    <i class="bi bi-x-circle"></i>
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <h4 class="alert alert-info">No Investments</h4>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </article>
        </section>
    </div>
</section>