{% load static %}
{% load crispy_forms_tags %} 
<section>
    <div class="container">
        <section class="row gy-5 py-4">
            <div class="col-12">
                <h3>Admin / Investments</h3>
            </div>
        </section>

        <section class="row gy-5">
            <div class="col-6 col-md-4">
                <div class="shadow-sm summary  text-center">
                    <i class="bi bi-briefcase-fill me-2"></i>
                    <div class="pt-2"> 
                        <h4>{{total_investments}}</h4>
                         <p>All Investments</p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-4">
                <div class="shadow-sm summary  text-center">
                    <i class="bi bi-briefcase-fill me-2 text-success"></i>
                    <div class="pt-2"> 
                        <h4>{{total_active}}</h4>
                         <p>Active Investments</p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-4">
                <div class="shadow-sm summary  text-center">
                    <i class="bi bi-briefcase-fill me-2 text-warning"></i>
                    <div class="pt-2"> 
                        <h4>{{total_pending}}</h4>
                         <p>PendingInvestments</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="row gy-5 py-4">
            <article class="col-12 mx-auto">
                <div
                    class="
                        bg-white 
                        rounded-2 
                        shadow
                        table-responsive
                        p-5
                    "
                >
                    <form action="" method="get" novalidate="nonvalidate">
                        <input type="hidden" name="active_tab" id="active_tab" value="content-admin-investment">
                        {% crispy filterForm %}
                    </form>
                    <table 
                        class="
                            table
                            mt-4 table-hover
                            animate__animated
                            animate__fadeInUp
                            animate_slow
                        "
                    >
                    <thead class="bg-primary">
                        <tr>
                            <!-- <th scope="col">S.NO</th> -->
                            <th scope="col">Investment Name</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Profit</th>
                            <th scope="col">Interval</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for investment in investments %}

                        <tr>
                            <!-- <td>   
                                {{forloop.counter}}
                            </td> -->
                            <td class="fw-bolder">
                                <a href="#">
                                    <b>{{investment.investment_plan.name}}</b>
                                </a>                                   
                            </td>
                            <td>
                                ${{investment.amount}}
                            </td>
                            <td>
                                <span>${{investment.calculate_daily_profit}}</span> 
                            </td>
                            <td>
                                {{investment.next_accrual_date}}
                            </td>

                            <td>
                                {{investment.investment_date}}
                            </td>

                            <td>
                               {% if investment.status %}
                                <span class="fw-bolder text-success">Active</span> 
                               {% else %}
                                <span class="fw-bolder text-danger">Not Active</span> 
                               {% endif %}
                            </td>
                            <td class="d-flex flex-row">
                                <div class="dropdown">
                                    <button 
                                        class="btn btn-outline-primary dropdown-toggle" 
                                        type="button" id="dropdownMenuButton" 
                                        data-bs-toggle="dropdown" 
                                        aria-haspopup="true" 
                                        aria-expanded="false"
                                    >
                                        <i class="bi bi-three-dots"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item py-2" href="#">
                                        <b>
                                            <i class="bi bi-check-all text-success"></i>
                                            Activate Investment
                                        </b>
                                    </a>
                                    <a class="dropdown-item py-2" href="#">
                                        <b>
                                            <i class="bi bi-chevron-double-right text-primary"></i>
                                            More Details 
                                        </b>
                                    </a>
                                    <a class="dropdown-item py-2" href="#">
                                        <b>
                                            <i class="bi bi-coin text-primary"></i>
                                            Set Profit
                                        </b>
                                    </a>
                                    </div>
                                  </div>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <h4 class="alert alert-info">No Investments</h4>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </article>
        </section>
    </div>
</section>