{% load static %}
<section>
    <div class="container">
        <section class="row gy-5 py-4">
            <div class="col-12">
                <h3>Admin / Users & Referrals</h3>
            </div>
        </section>

        <section class="row gy-5">
            <article class="col-12 col-md-6">
                <form class="mb-3" method="get">
                    <div class="col-12">
                        <input 
                            type="text" 
                            class="form-control form-control-lg" 
                            name="user_q" placeholder="Search by username or User ID" 
                            value=""
                        >
                    </div>
                    <button type="submit" class="btn btn-primary col-11 col-md-6 mt-3">Search</button>
                </form>
            </article>
            <article class="col-6 col-md-3">
                <a href="#" class="d-flex shadow-sm border border-primary p-2">
                    <i class="bi bi-wallet2 text-primary" style="font-size: 24px;"></i>
                    <div class="ps-4">
                        <p><b>{{total_active_users}}</b></p>
                        <p>Active Users</p>   
                    </div>
                </a>
            </article>
            <article class="col-6 col-md-3">
                <a href="#" class="d-flex shadow-sm border border-danger p-2">
                    <i class="bi bi-wallet2 text-danger" style="font-size: 24px;"></i>
                    <div class="ps-4">
                        <p><b>{{total_inactive_users}}</b></p>
                        <p>Inactive Users</p>   
                    </div>
                </a>
            </article>
        </section>

        <section class="row gy-5 py-4">
            <article class="col-12 mx-auto">
                <div class="table-responsive py-4">
                    <table 
                    class="
                        table
                        table-striped
                        animate__animated
                        animate__fadeInUp
                        animate_slow
                    ">
                    <thead>
                        <tr>
                            <!-- <th scope="col">S.NO</th> -->
                            <th scope="col">Username</th>
                            <th scope="col">Total Referred</th>
                            <th scope="col">Total Referred Bonus</th>
                            <th scope="col">Highest Referred Bonus</th>
                            <th scope="col">Date Joined</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}

                        <tr>
                            <!-- <td>   
                                {{forloop.counter}}
                            </td> -->
                            <td class="fw-bolder">
                                <a href="#">
                                    <b>{{user.username}}</b>
                                </a>                                   
                            </td>
                            <td>
                                {{user.total_referrals}}
                            </td>
                            <td>
                                <span>${{user.total_bonus |default:"0.0"}}</span> 
                            </td>
                            <td>
                                ${{user.highest_bonus |default:"0.0"}}
                            </td>

                            <td>
                                {{user.date_joined}}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <h4 class="alert alert-info">No Users or Referrals</h4>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </article>
        </section>
    </div>
</section>