{% load static %}
<section>
    <div class="container">
        <section class="row gy-5 py-4">
            <div class="col-12">
                <h3>Admin / Referrals</h3>
            </div>
        </section>

        <section class="row gy-5">
            <article class="col-6 col-md-3">
                
            </article>
        </section>

        <section class="row gy-5 py-4">
            <article class="col-12 mx-auto">
                <div>
                    <table 
                    class="
                        table
                        animate__animated
                        animate__fadeInUp
                        animate_slow
                    ">
                    <thead>
                        <tr>
                            <!-- <th scope="col">S.NO</th> -->
                            <th scope="col">Username</th>
                            <th scope="col">Total Referred</th>
                            <th scope="col">Total Referred Bonus</th>
                            <th scope="col">Highest Referred Bonus</th>
                            <th scope="col">Date Joined</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}

                        <tr>
                            <!-- <td>   
                                {{forloop.counter}}
                            </td> -->
                            <td class="fw-bolder">
                                <a href="#">
                                    <b>{{user.username}}</b>
                                </a>                                   
                            </td>
                            <td>
                                {{user.total_referrals}}
                            </td>
                            <td>
                                <span>${{user.total_bonus |default:"0.0"}}</span> 
                            </td>
                            <td>
                                ${{user.highest_bonus |default:"0.0"}}
                            </td>

                            <td>
                                {{user.date_joined}}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <h4 class="alert alert-info">No Users or Referrals</h4>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </article>
        </section>
    </div>
</section>