{% load static %}
{% load crispy_forms_tags %} 
<section>
    <div class="container">
        <section class="row gy-5 py-4 align-items-center">
            <div class="col-6">
                <h3>Admin / Withdrawals</h3>
            </div>

            <div class="col-6 text-end">
                <button 
                    class="btn btn-primary btn-lg"
                    data-bs-toggle="modal"
                    data-bs-target="#createWithdrawalModal"
                >
                    Create Withdrawal
                </button>
            </div>
        </section>

        <section class="row gy-5">
            <div class="col-6 col-md-3">
                <div class="shadow-sm summary rounded-3 p-3 text-center">
                    <i class="bi bi-credit-card-2-back"></i>
                    
                    <div class="pt-3"> 
                        <h4>{{total_withdrawal_requests}}</h4>
                        <p>Total Requests</p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-3">
                <div class="shadow-sm summary p-3 text-center">
                    <i class="bi bi-hourglass-split"></i>
                    <div class="pt-3"> 
                        <h4>{{total_pending_requests}}</h4>
                        <p>Pending Requests</p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-3">
                <div class="shadow-sm summary p-3 text-center">
                    <i class="bi bi-check-circle-fill"></i>
                    <div class="pt-3">
                        <h4>${{total_approved_amount}}</h4> 
                        <p>Approved</p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-3">
                <div class="shadow-sm summary p-3 text-center">
                    <i class="bi bi-clock-history"></i>
                    <div class="pt-3"> 
                        <h4>${{total_pending_amount}}</h4>
                        <p>Pending Amount</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="row gy-5 py-4">
            <article class="col-12 ms-auto pt-4">
                <form class="mb-3 row" method="get">
                    <div class="col-12 col-sm-9">
                        <input type="hidden" name="tab" value="{{ active_tab }}"> <!-- Retain active tab -->
                        <input 
                            type="text" 
                            class="form-control form-control-lg" 
                            name="q" placeholder="Search by username or ID" 
                            value="{{ search_query }}"
                        >
                    </div>
                    <button type="submit" class="btn btn-primary col-12 col-sm-3">Search</button>
                </form>
            </article>

            <article class="col-12 mx-auto">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a 
                            class="nav-link {% if active_tab == 'all' %}active{% endif %}" 
                            href="?tab=all"
                        >
                            All Withdrawals
                        </a>
                    </li>
                    <li class="nav-item">
                        <a 
                            class="nav-link {% if active_tab == 'pending' %}active{% endif %}" 
                            href="?tab=pending"
                        >
                            Pending
                        </a>
                    </li>
                    <li class="nav-item">
                        <a 
                            class="nav-link {% if active_tab == 'rejected' %}active{% endif %}" 
                            href="?tab=rejected"
                        >
                            Rejected
                        </a>
                    </li>
                    <li class="nav-item">
                        <a 
                            class="nav-link {% if active_tab == 'approved' %}active{% endif %}" 
                            href="?tab=approved"
                        >
                            Successful
                        </a>
                    </li>
                </ul>

                <div
                    class="
                        bg-white
                        rounded-2 
                        shadow-sm
                        table-responsive
                        p-4
                    "
                >
                    <table 
                    class="
                        table
                        animate__animated
                        animate__fadeInUp
                        animate_slow
                    ">
                    <thead class="table-light">
                        <tr>
                            <!-- <th scope="col">S.NO</th> -->
                            <th scope="col">UserName</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Payment Option</th>
                            <th scope="col">Total Profit</th>
                            <th scope="col">Date Created</th>
                            <th scope="col">Updated At</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for withdrawal in withdrawals %}
                        <tr>
                            <!-- <td>   
                                {{forloop.counter}}
                            </td> -->
                            <td class="fw-bolder">
                                <a href="#">
                                    <b>{{withdrawal.user}}</b>
                                </a>                                   
                            </td>
                            <td>
                                ${{withdrawal.amount}}
                            </td>
                            <td>
                                <span>{{withdrawal.payment_option}}</span> <br/>
                                {% if withdrawal.status == "pending" %}
                                <span class="fw-bolder text-warning">Pending </span> 
                               {% elif withdrawal.status == "rejected"  %}
                                <span class="fw-bolder text-danger">Rejected</span> 
                                {% elif withdrawal.status == "approved" %}
                                <span class="fw-bolder text-success">Approved</span> 
                               {% endif %}
                            </td>
                            <td>
                               <sup class="fw-bold text-success">$</sup> 
                               {{withdrawal.investment.total_profit}}
                            </td>

                            <td>
                                {{withdrawal.created_at}}
                            </td>

                            <td>
                               {{withdrawal.updated_at}}
                            </td>
                            <td class="d-flex flex-row">
                                {% if withdrawal.status == 'pending' %}
                                <a 
                                    href="#" 
                                    data-id="{{ withdrawal.id }}" 
                                    data-username="{{ withdrawal.user.username }}" 
                                    data-amount="{{ withdrawal.amount}}"  
                                    data-payment="{{withdrawal.payment_option}}"
                                    {% if withdrawal.payment_option == 'usdt' %}
                                        data-address="{{withdrawal.user.profiles.usdt_wallet}}"
                                    {% elif withdrawal.payment_option == 'bitcoin' %}
                                        data-address="{{withdrawal.user.profiles.bitcoin_wallet}}"
                                    {% elif withdrawal.payment_option == 'ethereum' %}
                                        data-address="{{withdrawal.user.profiles.ethereum_wallet}}"
                                    {% endif %}
                                    
                                    class="btn btn-success confirm-btn btn-lg mb-2 mx-2" 
                                    data-toggle="tooltip" 
                                    data-placement="bottom" 
                                    title="Confirm withdrawals"
                                >
                                    <i class="bi bi-check2-circle text-light"></i>
                                </a>
                                {% else %}
                                ---
                                {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <h4 class="alert alert-info">No withdrawals</h4>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </article>
        </section>
    </div>
</section>


<!-- Confirmation Modal for Withdrawals -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmationModalLabel">Confirm Withdrawal</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to confirm the withdrawal request?</p>
          <p>User: <span class="fw-bolder" id="modal-username"></span></p>
          <p><b>Amount: $</b><span class="fw-bolder" id="modal-user-amount"></span></p>
          <p>Payment Method: <span class="fw-bolder text-info" id="modal-payment"></span></p>
          <p><strong>Payment Address:</strong>  <br />
          <span class="h4 fw-bolder" id="modal-payment-address"></span></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success" id="confirmWithdrawalBtn">Confirm</button>
        </div>
      </div>
    </div>
  </div>
  

<!-- Create Withdrawal Modal -->
<div class="modal fade" id="createWithdrawalModal" tabindex="-1" aria-labelledby="createWithdrawalModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="createWithdrawalModalLabel">Create Withdrawal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form method="post" action="{% url 'admin_create_withdrawal' %}">
        {% csrf_token %}

        <div class="modal-body">
          <div class="row gy-3">
              {{ admin_withdrawal_form|crispy }}
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cancel
          </button>
          <button type="submit" class="btn btn-success">
            Create & Approve
          </button>
        </div>

      </form>

    </div>
  </div>
</div>