{% extends 'pages/base.html' %} 
{% load static %} 

{% block content %}
<!--=== THE ABOUT PAGE ===-->
<section id="about">
<section class="breadcrumb-pages">
    <div class="container">
        <section class="row">
            <article class="col-12 col-lg-8 offset-lg-2 mx-auto text-center">
                <h1>About Us</h1>
                <p class="text-white">
                    RiazVest - Empowering Your Financial Growth Through Smart Investments.
                </p>
            </article>
        </section>
    </div>
</section>

<!--=== BREADCRUMB SECTION ===-->
<nav class="breadcrumbLink border-4 border-bottom">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item">About</li>
      </ol>
    </div>
</nav>
<!--=== END OF THE BREADCRUMB SECTION ===-->


<!--=== ACHIEVEMENT SECTION ===-->
<section class="abt-achievement">
    <div class="container">
        <section class="row g-4">
            <article class="col-6 col-md-4 col-lg-3 offset-lg-2">
                <div class="border achievement">
                    <i class="bi bi-briefcase-fill"></i>
                    <div>
                        <h3>$400M +</h3>
                        <p>Assets Managed</p>
                    </div>
                </div>
            </article>

            <article class="col-6 col-md-4 col-lg-3">
                <div class="border achievement">
                    <i class="bi bi-people"></i>
                    <div>
                        <h3>17,000 +</h3>
                        <p>Satisfied Investors</p>
                    </div>
                </div>
            </article>

            <article class="col-6 col-md-4 col-lg-3">
                <div class="border achievement">
                    <i class="bi bi-calendar-heart-fill"></i>
                    <div>
                        <h3>7Yrs +</h3>
                        <p>Industry of Excellence</p>
                    </div>
                </div>
            </article>

            <article class="col-6 col-md-4 col-lg-3 offset-lg-1">
                <div class="border achievement">
                    <i class="bi bi-person-fill-check"></i>
                    <div>
                        <h3>95 % +</h3>
                        <p>Client Retention Rate</p>
                    </div>
                </div>
            </article>

            <article class="col-6 col-md-4 col-lg-3">
                <div class="border achievement">
                    <i class="bi bi-currency-exchange"></i>
                    <div>
                        <h3>$ 80M +</h3>
                        <p>Profit paid to Investors</p>
                    </div>
                </div>
            </article>

            <article class="col-6 col-md-4 col-lg-3">
                <div class="border achievement">
                    <i class="bi bi-transparency"></i>
                    <div>
                        <h3>100 %</h3>
                        <p>Transparent Operations</p>
                    </div>
                </div>
            </article>
        </section>
    </div>
</section>
<!--=== END OF THE ACHIEVEMENT SECTION ===-->

<!--=== INTRODUCTION SECTION ===-->
<section class="introduction bg-light">
    <div class="container">
        <section class="row">
            <article class="col-12 col-md-6">
                <img 
                    src="{% static '/images/corporate-min.jpg' %}" 
                    alt=""
                    class="img-fluid"
                >
            </article>

            <article class="col-12 col-md-6">
                <div class="px-md-4">
                    <div class="border border-success p-4 bg-white">
                        <h3>Our Mission</h3>
                        <p>
                            Our mission is simple: To offer easy-to-use, 
                            high-performing investment solutions that empower people to achieve financial independence. 
                            We aim to make investing understandable, accessible, and profitable for everyone.
                        </p>
                    </div>

                    <div class="border border-success p-4 my-4 bg-white">
                        <h3>Our Vision</h3>
                        <p>
                            To become the most trusted investment platform globally, enabling investors to confidently 
                            navigate their financial futures with sustainable, high-yield options.
                        </p>
                    </div>

                <a href="" class="btn btn-1">
                    START YOUR JOURNEY TODAY
                </a>
                </div>
            </article>
        </section>
    </div>
</section>
<!--=== END OF THE INTRODUCTION SECTION ===-->

<!-- FINAL STATEMENT SECTION -->
<section style="padding: 4rem 0;">
    <div class="container">
        <section class="row">
            <article class="col-12 col-md-8 offset-md-2 text-center">
                <h1>
                    Building Tomorrow's Wealth, Today
                </h1>
                <p class="pt-4 text-muted">
                    At RiazVest, we believe in creating opportunities for financial success. 
                    Founded with the mission to provide accessible, transparent, 
                    and profitable investment options, 
                    we’ve helped thousands of individuals grow their wealth in sectors like Oil & Gas, Gold, Real Estate, Bonds, and more. Our plat
                    form is designed for both beginners and seasoned investors 
                    seeking diverse investment plans with high returns.
                </p>
            </article>
        </section>
    </div>
</section>
</section>
<!--=== END OF THE ABOUT PAGE ===-->
{% endblock content %}