{% extends 'pages/base.html' %} 
{% load static %} 

{% block content %}
<section class="breadcrumb-pages">
    <div class="container">
        <section class="row">
            <article class="col-12 col-lg-8 offset-lg-2 mx-auto text-center">
                <h1>About Us</h1>
                <p class="text-white">
                    RiazVest - Empowering Your Financial Growth Through Smart Investments.
                </p>
            </article>
        </section>
    </div>
</section>

<nav class="breadcrumbLink border-4 border-bottom">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item">About</li>
      </ol>
    </div>
</nav>

<section class="abt-achievement">
    <div class="container">
        <section class="row g-4">
            <article class="col-6 col-md-4 col-lg-3 offset-lg-2">
                <div class="border achievement">
                    <i class="bi bi-briefcase-fill"></i>
                    <div>
                        <h3>$400M +</h3>
                        <p>Assets Managed</p>
                    </div>
                </div>
            </article>

            <article class="col-6 col-md-4 col-lg-3">
                <div class="border achievement">
                    <i class="bi bi-people"></i>
                    <div>
                        <h3>17,000 +</h3>
                        <p>Satisfied Investors</p>
                    </div>
                </div>
            </article>

            <article class="col-6 col-md-4 col-lg-3">
                <div class="border achievement">
                    <i class="bi bi-calendar-heart-fill"></i>
                    <div>
                        <h3>7Yrs +</h3>
                        <p>Industry of Excellence</p>
                    </div>
                </div>
            </article>

            <article class="col-6 col-md-4 col-lg-3 offset-lg-1">
                <div class="border achievement">
                    <i class="bi bi-person-fill-check"></i>
                    <div>
                        <h3>95 % +</h3>
                        <p>Client Retention Rate</p>
                    </div>
                </div>
            </article>

            <article class="col-6 col-md-4 col-lg-3">
                <div class="border achievement">
                    <i class="bi bi-currency-exchange"></i>
                    <div>
                        <h3>$ 80M +</h3>
                        <p>Profit paid to Investors</p>
                    </div>
                </div>
            </article>

            <article class="col-6 col-md-4 col-lg-3">
                <div class="border achievement">
                    <i class="bi bi-transparency"></i>
                    <div>
                        <h3>100 %</h3>
                        <p>Transparent Operations</p>
                    </div>
                </div>
            </article>
        </section>
    </div>
</section>
{% endblock content %}