{% extends 'pages/base.html' %} 
{% load static %} 

{% block content %}
<section class="breadcrumb-pages">
    <div class="container">
        <section class="row">
            <article class="col-12 col-lg-8 offset-lg-2 mx-auto text-center">
                <h1>About Us</h1>
                <p class="text-white">
                    RiazVest - Empowering Your Financial Growth Through Smart Investments.
                </p>
            </article>
        </section>
    </div>
</section>
{% endblock content %}