<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %} {{title}} {% else %} Investment {% endif %}</title>
    <link rel="stylesheet" href="{% static 'css/b5css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/core.css' %}">

    <!-- Icons CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
</head>
<body>
    <!-- Navbar starts here -->
    <nav
      class="navbar navbar-expand-xl navbar-light sticky-top shadow-sm"
    >
      <div class="container">
        <!-- Navbar Brand -->
        <a class="navbar-brand" href="/">
          <img
            src="{% static 'investments/img/Logo_icon.svg' %}"
            alt="Wealth Wheel"
            width="80%"
            style="margin: auto; padding: 0.2em 1em 0em"
            class="d-inline-block align-text-top img-fluid"
          />
        </a>

        <!-- Navbar Toggler Button -->
        <button
          class="navbar-toggler shadow-none"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="bi bi-list mobile-nav-toggle"></i>
        </button>

        <!-- Navbar Links -->
        <div
          class="collapse navbar-collapse"
          style="padding: 0em 1em"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
            <li class="nav-item">
              <a
                class="nav-link  ms-4"
                aria-current="page"
                href="{% url 'index' %}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link ms-4"
                href="{% url 'about' %}"
                >About Us</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link ms-4"
                href="{% url 'offers' %}"
                >Investment Offers</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link ms-4"
                href="{% url 'partnerships' %}"
                >Partnership & Loans</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link ms-4"
                href="{% url 'contact' %}"
                >Contact Us</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link ms-4"
                href="{% url 'faqs' %}"
                >FAQs</a
              >
            </li>
          </ul>
          
        </div>
      </div>
    </nav>
    <!-- Navbar ends -->
        {% block content %}

        {% endblock content %}
</body>
</html>