{% extends 'pages/base.html' %} 
{% load static %} 

{% block content %}
<!--=== THE CONTACT PAGE ===-->
<section id="contact">
<section class="breadcrumb-pages">
    <div class="container">
        <section class="row">
            <article class="col-12 col-lg-8 offset-lg-2 mx-auto text-center">
                <h1>Get in Touch with Us</h1>
                <p class="text-white">
                    We’re here to assist you with any questions, concerns, or feedback you may have. 
                    Whether you need more information about our investment plans or require support, our team is ready to help. 
                    Reach out through any of the methods below..
                </p>
            </article>
        </section>
    </div>
</section>

<!--=== BREADCRUMB SECTION ===-->
<nav class="breadcrumbLink">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item">Contact Us</li>
      </ol>
    </div>
</nav>
<!--=== END OF THE BREADCRUMB SECTION ===-->
</section>
<!--=== END OF CONTACT PAGE ===-->

{% endblock content %}