{% extends 'pages/base.html' %} 
{% load static %} 

{% block content %}
<!--=== THE CONTACT PAGE ===-->
<section id="contact">
<section class="breadcrumb-pages">
    <div class="container">
        <section class="row">
            <article class="col-12 col-lg-8 offset-lg-2 mx-auto text-center">
                <h1>Get in Touch with Us</h1>
                <p class="text-white">
                    We’re here to assist you with any questions, concerns, or feedback you may have. 
                    Whether you need more information about our investment plans or require support, our team is ready to help. 
                    Reach out through any of the methods below..
                </p>
            </article>
        </section>
    </div>
</section>

<!--=== BREADCRUMB SECTION ===-->
<nav class="breadcrumbLink">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item">Contact Us</li>
      </ol>
    </div>
</nav>
<!--=== END OF THE BREADCRUMB SECTION ===-->

<section class="p-5">
    <div class="container">
        <section class="row">
            <article class="col-12 col-md-5">
                <!--  *******   Title/heading   *******  -->
                <div class="contactTitle">
                    <h2>Get In Touch</h2>
                    <p>
                    Your input is essential to us as we strive to continuously 
                    improve our services and tailor our solutions to meet your requirements. 
                    We look forward to hearing from you soon!
                    </p>
                </div>

                <!--  *******   Contact Info   *******  -->
                <div class="contactInfo">
                    <div class="iconGroup">
                        <div class="icon">
                            <i class="bi bi-telephone-inbound-fill"></i>
                        </div>
                        <div class="details">
                            <span>Phone</span>
                            <span>+1 573 760 6982</span>
                        </div>
                    </div>

                    <div class="iconGroup">
                        <div class="icon">
                            <i class="bi bi-envelope-at-fill"></i>
                        </div>
                        <div class="details">
                            <span>Email</span>
                            <span>support@riazvest.com</span>
                        </div>
                    </div>

                    <div class="iconGroup">
                    <div class="icon">
                        <i class="bi bi-geo-alt-fill"></i>
                    </div>
                    <div class="details">
                        <span>Location</span>
                        <span>A108 Adam Street, NY 535022, USA</span>
                    </div>
                    </div>
                </div>

                <!--  *******   Social Media   *******  -->
                <div class="socialMedia">
                    <a href="#"><i class="bi bi-telegram"></i></a>
                    <a href="#"><i class="bi bi-whatsapp"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-skype"></i></a>
                </div>
            </article>
            
            <article class="col-12 col-md-7 right">
                
            </article>
        </section>
    </div>
</section>
</section>
<!--=== END OF CONTACT PAGE ===-->

{% endblock content %}