{% extends 'pages/base.html' %} 
{% load static %} 

{% block content %}
<!--=== THE ABOUT PAGE ===-->
<section id="faqs">
    <section class="breadcrumb-pages">
        <div class="container">
            <section class="row">
                <article class="col-12 col-lg-8 offset-lg-2 mx-auto text-center">
                    <h1>Frequently Asked Questions</h1>
                    <p class="text-white">
                        At RiazVest, we believe in transparency and making your investment journey as smooth as possible. 
                        Below are answers to some of the most common questions our clients ask. 
                        If you don’t find what you’re looking for, feel free to reach out to our support team. 
                        We're here to help!
                    </p>
                </article>
            </section>
        </div>
    </section>

    <!--=== BREADCRUMB SECTION ===-->
    <nav class="breadcrumbLink">
        <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">FAQs</li>
        </ol>
        </div>
    </nav>
    <!--=== END OF THE BREADCRUMB SECTION ===-->
</section>

{% endblock %}