{% extends 'pages/base.html' %} 
{% load static %} 

{% block content %}
<section id="hero-page">
    <div class="container py-5">
        <section class="row p-5 "
        >
            <article class="col-12 col-sm-6">
                <header class="p-3 p-md-5">
                    <h1>Grow Your Wealth, Secure Your Future</h1>
                    <p class="pt-3 pb-5">
                        Join thousands of savvy investors who trust RiazVest to multiply their assets. 
                        Whether you're a first-time investor or a seasoned pro, we offer tailored plans that help you achieve your financial goals with confidence. 
                        Start investing today, and watch your wealth grow.
                    </p>
                    <p>
                        <a 
                            href="" 
                            class="btn btn-1 me-3"
                        >
                            Get Started
                        </a>

                        <a 
                            href="" 
                            class="btn btn-outline-1">
                            Explore Plans
                        </a>
                    </p>
                </header>
            </article>

            <article class="col-12 col-sm-6">
                <img 
                    src="{% static '/images/corporate-min.jpg' %}" 
                    alt=""
                    class="img-fluid"
                    style="object-fit: cover; object-position: bottom; width:100%; height: 400px; border-radius: 20px;"
                >
            </article>
        </section>
    </div>
</section>
<!-- === End of the hero page ===-->

<!--=== WhyChooseUs ===-->
<section id="whyChooseUs" class="bg-light">
    <div class="container">
        <section class="row g-5">
            <article class="col-12 col-sm-6 col-md-4">
                <div class="pt-3">
                    <h1>Why Choose RiazVest</h1>
                    <p>
                        This is why we are the best in the market today.
                    </p>
                </div>
            </article>

            <article class="col-12 col-sm-6 col-md-4">
                <div class="p-5 bg-white shadow-sm rounded-5">
                    <div class="icon">
                        <i class="bi bi-coin"></i>
                    </div>
                    <h3 class="py-4">Tailored Investment Plans</h3>
                    <p>
                    We offer customized investment solutions to fit your unique financial goals. 
                    Starting or a seasoned investor, 
                    we’ve got a plan for you.
                    </p>
                </div>
            </article>

            <article class="col-12 col-sm-6 col-md-4">
                <div class="p-5 bg-white shadow-sm rounded-5 h-100">
                    <div class="icon">
                        <i class="bi bi-check-all"></i>
                    </div>
                    <h3 class="py-4">Consistent and Reliable Returns</h3>
                    <p>
                        With a proven track record of delivering steady profits, 
                        we help you grow your wealth confidently and securely.
                    </p>
                </div>
            </article>

            <article class="col-12 col-sm-6 col-md-4">
                <div class="p-5 bg-white shadow-sm rounded-5 h-100">
                    <div class="icon">
                        <i class="bi bi-headset"></i>
                    </div>
                    <h3 class="py-4">Expert Support Team</h3>
                    <p>
                        Our team of financial experts is here to guide you at every step, 
                        offering real-time assistance whenever you need it.
                    </p>
                </div>
            </article>

            <article class="col-12 col-sm-6 col-md-4">
                <div class="p-5 bg-white shadow-sm rounded-5 h-100">
                    <div class="icon">
                        <i class="bi bi-fingerprint"></i>
                    </div>
                    <h3 class="py-4">Top-Level Security</h3>
                    <p>
                        Your investments are protected with state-of-the-art security protocols, 
                        ensuring your data and funds are always safe.
                    </p>
                </div>
            </article>

            <article class="col-12 col-sm-6 col-md-4">
                <div class="p-5 bg-white shadow-sm rounded-5">
                    <div class="icon">
                        <i class="bi bi-graph-up-arrow"></i>
                    </div>
                    <h3 class="py-4">Growth-Driven Technology</h3>
                    <p>
                        We use cutting-edge analytics and tools to maximize your investment potential 
                        while managing risks effectively.
                    </p>
                </div>
            </article>
        </section>
    </div>
</section>
<!--=== End of whyChoose Us section ===-->


<!-- ======= Clients Section ======= -->
<section id="clients" class="clients py-5 bg-white">
    <div class="container">
      <div class="clients-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide">
            <img
              src="{% static 'images/bitcoin.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{% static '/images/ethereum.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{% static '/images/litecoin.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{% static '/images/cardona.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{% static '/images/bnb.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{% static '/images/tether.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{% static '/images/usd.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{% static '/images/polkadot.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- End Clients Section -->

  <!-- ==== Investment plans sections ===-->
  <section id="investmentPlans" class="bg-light">
        <div class="container">
            <section class="row g-5">
                <article 
                    class="col-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2"
                >
                    <header class="text-center">
                        <h1>
                            Explore Our Investment Plans
                        </h1>

                        <p>
                            At <span style="color: #66CC66; font-weight: 900;">RiazVest</span>, 
                            we offer a range of carefully designed investment plans 
                            tailored to meet your financial goals.  
                            Our plans provide flexible options with competitive returns. 
                        </p>

                    </header>
                </article>
            </section>

            <section class="row g-5">

                <!-- === SILVER AND GOLD column  === -->
                <article class="col-12 col-sm-6 col-md-4">
                    <a href="#" class="plans p-5 shadow rounded-5" id="silver_gold">
                        <div class="plan-details">
                            <h2 class="h3">Silver and Gold</h2>
                            <h3 class="h1 pricing">
                                <small>from</small>
                                <sup>$</sup>5000
                            </h3>
                            <div class="d-flex mt-4">
                                <i class="bi bi-check-all"></i>
                                <p>Max Amount: 5,000,000</p>
                            </div>
                            
                            <div class="d-flex">
                                <i class="bi bi-check-all"></i>
                                <p>Profit: 5%</p>
                            </div>
                            
                            <div class="d-flex">
                                <i class="bi bi-check-all"></i>
                                <p>Duration: After 1 Week</p>
                            </div>

                            <div class="d-flex">
                                <i class="bi bi-check-all"></i>
                                <p>Referrals: 5%</p>
                            </div>
                            
                            <button class="btn btn-outline-1 mt-4">
                                Invest Now
                            </button>
                        </div>
                    </a>
                </article>

                <!-- === OIL AND GAS column  === -->
                <article class="col-12 col-sm-6 col-md-4">
                    <a href="#" class="plans p-5 shadow rounded-5" id="oil-gas">
                        <div class="plan-details">
                            <h2 class="h3">Oil and Gas</h2>
                            <h3 class="h1 pricing">
                                <small>from</small>
                                <sup>$</sup>5000
                            </h3>
                            <div class="d-flex mt-4">
                                <i class="bi bi-check-all"></i>
                                <p>Max Amount: 5,000,000</p>
                            </div>
                            
                            <div class="d-flex">
                                <i class="bi bi-check-all"></i>
                                <p>Profit: 5%</p>
                            </div>
                            
                            <div class="d-flex">
                                <i class="bi bi-check-all"></i>
                                <p>Duration: After 1 Week</p>
                            </div>

                            <div class="d-flex">
                                <i class="bi bi-check-all"></i>
                                <p>Referrals: 5%</p>
                            </div>
                            
                            <button class="btn btn-1 mt-4">
                                Invest Now
                            </button>
                        </div>
                    </a>
                </article>

                <!-- === REAL ESTATE column  === -->
                <article class="col-12 col-sm-6 col-md-4">
                    <a href="#" class="plans p-5 shadow rounded-5" id="realestates">
                        <div class="plan-details">
                            <h2 class="h3">Real Estates</h2>
                            <h3 class="h1 pricing">
                                <small>from</small>
                                <sup>$</sup>5000
                            </h3>
                            <div class="d-flex mt-4">
                                <i class="bi bi-check-all"></i>
                                <p>Max Amount: 5,000,000</p>
                            </div>
                            
                            <div class="d-flex">
                                <i class="bi bi-check-all"></i>
                                <p>Profit: 5%</p>
                            </div>
                            
                            <div class="d-flex">
                                <i class="bi bi-check-all"></i>
                                <p>Duration: After 1 Week</p>
                            </div>

                            <div class="d-flex">
                                <i class="bi bi-check-all"></i>
                                <p>Referrals: 5%</p>
                            </div>
                            
                            <button class="btn btn-outline-1 mt-4">
                                Invest Now
                            </button>
                        </div>
                    </a>
                </article>
                
                <!-- === Manage the see more -->
                <a 
                    href="#" 
                    class="fw-bolder w-auto d-flex ms-auto" 
                    style="font-size: 16px !important; color: darkslateblue;"
                >
                    See More 
                    <i 
                        class="bi bi-arrow-right ms-3" 
                        style="color: darkslateblue;">
                    </i>
                </a>
            </section>
        </div>
  </section>
  <!-- === END OF INVESTMENT PLAN SECTION === -->

  <!-- === ACHIEVEMENT SECTION === -->
  <section id="achievements">
    <div class="container">
        <section class="row">
            <article class="col-12 col-md-8 mx-auto">
                <div class="text-center">
                    <h1>
                        Our Track Record of Success
                    </h1>
                    <p>
                        At RiazVest, we’ve built a reputation for excellence by consistently 
                        helping our clients grow their wealth.
                    </p>
                </div>
            </article>
        </section>

        <section class="row pt-5">
            <article class="col-12 col-md-8 offset-md-2">
                <div class="row g-4">
                    <div class="col-6 col-md-4">
                        <div class="achievement">
                            <h3>$400M +</h3>
                            <p>Assets Managed</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-4">
                        <div class="achievement">
                            <h3>17,000 +</h3>
                            <p>Satisfied Investors</p>
                        </div>
                    </div>
                        
                    <div class="col-6 col-md-4">
                        <div class="achievement">
                            <h3>7Yrs +</h3>
                            <p>Industry of Excellence</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-4">
                        <div class="achievement">
                            <h3>95 % +</h3>
                            <p>Client Retention Rate</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-4">
                        <div class="achievement">
                            <h3>$ 80M +</h3>
                            <p>Profit paid to Investors</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-4">
                        <div class="achievement">
                            <h3>100 %</h3>
                            <p>Transparent Operations</p>
                        </div>
                    </div>
                </div>
            </article>    
        </section>
    </div>
  </section>


<section>
    <div class="container">
        <div class="row g-5">
            <article class="col-12 col-md-8 mx-auto text-center">
                <header class="py-5">
                    <h1>What Our Investors Say</h1>
                    <p>
                        Hear from our clients who have grown their wealth with us.
                    </p>
                </header>
            </article>
        </div>
    </div>
</section>
<div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <section class="container">
                <div class="row">
                    <article class="col-12 col-md-4">
                        <div class="border p-4 rounded-5 bg-light">
                            <span>Ratingm 1</span>
                            <p>
                                I love the predictability that comes with the Cryptocurrency using signals. 
                                As someone who prefers low-risk investments, 
                                RiazVest offered the perfect solution to help me secure my future while earning steady returns.
                            </p>
                            <div class="d-flex">
                                <img 
                                    class="img-fluid rounded-circle" 
                                    src="{% static 'images/bg_investment.jpg' %}" 
                                    alt="profile image"
                                    style="height: 70px; width: 70px;"
                                >
                                <div class="ps-3">
                                    <h5> Emily Chen </h5>
                                    <h6>School Teacher</h6>
                                    <h6>Bitcoin Cryptocurrency</h6>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-12 col-md-4">
                        <div class="border p-4 rounded-5">
                            <span>Rating 2</span>
                            <p class="pt-2 pb-4">
                                Investing in the Oil & Gas plan through RiazVest has been an eye-opener. 
                                The returns have been consistent, 
                                and the platform makes it easy to track my profits. 
                                I've already recommended it to my colleagues!
                            </p>
                            <div class="d-flex">
                                <img 
                                    class="img-fluid rounded-circle" 
                                    src="{% static 'images/bg_investment.jpg' %}" 
                                    alt="profile image"
                                    style="height: 70px; width: 70px;"
                                >
                                <div class="ps-3">
                                    <h5>James Patterson</h5>
                                    <h6>Energy Consultants</h6>
                                    <h6>Oil & Gas Plan</h6>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-12 col-md-4">
                        <div class="border p-4 rounded-5">
                            <span>Rating 3</span>
                            <p>
                                The Tech Plan at RiazVest really resonated with me, as I wanted to invest in cutting-edge industries. 
                                My experience has been fantastic so far, 
                                with excellent returns and an intuitive platform.
                            </p>
                            <div class="d-flex">
                                <img 
                                    class="img-fluid rounded-circle" 
                                    src="{% static 'images/bg_investment.jpg' %}" 
                                    alt="profile image"
                                    style="height: 70px; width: 70px;"
                                >
                                <div class="ps-3">
                                    <h5> Olivia Carter</h5>
                                    <h6> Seed Investor </h6>
                                    <h6>AI and Web3 Plan</h6>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
        </div>
        <div class="carousel-item">
            <section class="container">
                <div class="row g-5">
                    <article class="col-12 col-md-4">
                        <div class="border p-4 rounded-5">
                            <span>Rating 4</span>
                            <p>
                                Investing in real estate was a new venture for me, but RiazVest made it so easy to get started. 
                                The transparency and customer support have been top-notch, 
                                and I'm seeing consistent growth every week.
                            </p>
                            <div class="d-flex">
                                <img src="" alt="profile image">
                                <div class="ps-3">
                                    <h5> Engineer </h5>
                                    <h6>What they do</h6>
                                    <h6>Real Estate Plan</h6>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-12 col-md-4">
                        <div class="border p-4 rounded-5">
                            <span>Rating 5</span>
                            <p>
                                The Real Estate Plan on RiazVest gave me an opportunity to diversify 
                                my portfolio without the usual hassle of property management. 
                                It’s reliable, straightforward, and the returns speak for themselves.
                            </p>
                            <div class="d-flex">
                                <img src="" alt="profile image">
                                <div class="ps-3">
                                    <h5> Robert Garcia</h5>
                                    <h6>Property Devloper </h6>
                                    <h6>Real Estate Plan</h6>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-12 col-md-4">
                        <div class="border p-4 rounded-5">
                            <span>Rating 6</span>
                            <p>
                                Investing in the Oil & Gas plan through RiazVest has been an eye-opener. 
                                The returns have been consistent, and the platform makes it easy to track my profits. 
                                I've already recommended it to my colleagues!
                            </p>
                            <div class="d-flex">
                                <img src="" alt="profile image">
                                <div class="ps-3">
                                    <h5> Sarah Williams</h5>
                                    <h6>Financial Analyst</h6>
                                    <h6>Silver and Gold Plan</h6>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
        </div>
    </div>
    <button class="carousel-control-prev pe-5" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="bi bi-caret-left-fill" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next ps-5" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="bi bi-caret-right-fill" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>
{% endblock content %}