{% extends 'pages/base.html' %} 
{% load static %} 

{% block content %}
<section id="hero-page">
    <div class="container py-5">
        <section class="row p-2 p-md-5 "
        >
            <article class="col-12 col-lg-6">
                <header class="p-3 p-md-5">
                    <h1>Grow Your Wealth, Secure Your Future</h1>
                    <p class="py-4">
                        Join thousands of savvy investors who trust RiazVest to multiply their assets. 
                        Whether you're a first-time investor or a seasoned pro, we offer tailored plans that help you achieve your financial goals with confidence. 
                        Start investing today, and watch your wealth grow.
                    </p>
                    <p>
                        <a 
                            href="{% url 'account_signup' %}" 
                            class="btn btn-1 me-2"
                        >
                            Get Started
                        </a>

                        <a 
                            href="{% url 'plans' %}" 
                            class="btn btn-outline-1">
                            Explore Plans
                        </a>
                    </p>
                </header>
            </article>

            <article class="col-12 col-lg-6">
                <img 
                    src="{% static '/images/corporate-min.jpg' %}" 
                    alt=""
                    class="img-fluid"
                    style="object-fit: cover; object-position: bottom; width:100%; height: 400px; border-radius: 20px;"
                >
            </article>
        </section>
    </div>
</section> 
<!-- === End of the hero page ===-->

<!--=== WhyChooseUs ===-->
<section id="whyChooseUs" class="bg-light">
    <div class="container">
        <section class="row g-5">
            <article class="col-12 col-sm-6 col-lg-4">
                <div class="pt-3">
                    <h1>Why Choose RiazVest</h1>
                    <p>
                        This is why we are the best in the market today.
                    </p>
                </div>
            </article>

            <article class="col-12 col-sm-6 col-lg-4">
                <div class="p-5 bg-white shadow-sm rounded-5">
                    <div class="icon" data-aos="zoom-out">
                        <i class="bi bi-coin"></i>
                    </div>
                    <h3 class="py-4" data-aos="fade-up">
                        Tailored Investment Plans
                    </h3>
                    <p data-aos="fade-up" data-aos-delay="100">
                    We offer customized investment solutions to fit your unique financial goals. 
                    Starting or a seasoned investor, 
                    we’ve got a plan for you.
                    </p>
                </div>
            </article>

            <article class="col-12 col-sm-6 col-lg-4">
                <div class="p-5 bg-white shadow-sm rounded-5 h-100">
                    <div class="icon" data-aos="zoom-out">
                        <i class="bi bi-check-all"></i>
                    </div>
                    <h3 class="py-4" data-aos="fade-up">
                        Consistent and Reliable Returns
                    </h3>
                    <p data-aos="fade-up" data-aos-delay="100">
                        With a proven track record of delivering steady profits, 
                        we help you grow your wealth confidently and securely.
                    </p>
                </div>
            </article>

            <article class="col-12 col-sm-6 col-lg-4">
                <div class="p-5 bg-white shadow-sm rounded-5 h-100">
                    <div class="icon" data-aos="zoom-out">
                        <i class="bi bi-headset"></i>
                    </div>
                    <h3 class="py-4" data-aos="fade-up">
                        Expert Support Team
                    </h3>
                    <p data-aos="fade-up" data-aos-delay="100">
                        Our team of financial experts is here to guide you at every step, 
                        offering real-time assistance whenever you need it.
                    </p>
                </div>
            </article>

            <article class="col-12 col-sm-6 col-lg-4">
                <div class="p-5 bg-white shadow-sm rounded-5 h-100">
                    <div class="icon" data-aos="zoom-out">
                        <i class="bi bi-fingerprint"></i>
                    </div>
                    <h3 class="py-4" data-aos="fade-up">
                        Top-Level Security
                    </h3>
                    <p data-aos="fade-up" data-aos-delay="100">
                        Your investments are protected with state-of-the-art security protocols, 
                        ensuring your data and funds are always safe.
                    </p>
                </div>
            </article>

            <article class="col-12 col-sm-6 col-lg-4">
                <div class="p-5 bg-white shadow-sm rounded-5">
                    <div class="icon" data-aos="zoom-out">
                        <i class="bi bi-graph-up-arrow"></i>
                    </div>
                    <h3 class="py-4" data-aos="fade-up">
                        Growth-Driven Technology
                    </h3>
                    <p data-aos="fade-up" data-aos-delay="100">
                        We use cutting-edge analytics and tools to maximize your investment potential 
                        while managing risks effectively.
                    </p>
                </div>
            </article>
        </section>
    </div>
</section>
<!--=== End of whyChoose Us section ===-->


<!-- ======= Clients Section ======= -->
<section id="clients" class="clients py-5 bg-white">
    <div class="container">
      <div class="clients-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide">
            <img
              src="{% static 'images/bitcoin.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{% static '/images/ethereum.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{% static '/images/litecoin.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{% static '/images/cardona.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{% static '/images/bnb.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{% static '/images/tether.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{% static '/images/usd.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{% static '/images/polkadot.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- End Clients Section -->

<!-- ==== Investment plans sections ===-->
<section id="investmentPlans" class="bg-light">
    <div class="container">
        <section class="row g-5">
            <article 
                class="col-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2"
            >
                <header class="text-center">
                    <h1>
                        Explore Our Investment Plans
                    </h1>

                    <p>
                        At <span style="color: #66CC66; font-weight: 900;">RiazVest</span>, 
                        we offer a range of carefully designed investment plans 
                        tailored to meet your financial goals.  
                        Our plans provide flexible options with competitive returns. 
                    </p>

                </header>
            </article>
        </section> 

        <section class="row g-5">

            <!-- === SILVER AND GOLD column  === -->
            <article class="col-12 col-lg-4">
                <a href="#" class="plans p-5 shadow rounded-5" id="silver_gold">
                    <div class="plan-details" data-aos="zoom-in">
                        <h2 class="h3">Silver and Gold</h2>
                        <h3 class="h1 pricing">
                            <small>from</small>
                            <sup>$</sup>5000
                        </h3>
                        <div class="d-flex mt-4">
                            <i class="bi bi-check-all"></i>
                            <p>Max Amount: 5,000,000</p>
                        </div>
                        
                        <div class="d-flex">
                            <i class="bi bi-check-all"></i>
                            <p>Profit: 5%</p>
                        </div>
                        
                        <div class="d-flex">
                            <i class="bi bi-check-all"></i>
                            <p>Duration: After 1 Week</p>
                        </div>

                        <div class="d-flex">
                            <i class="bi bi-check-all"></i>
                            <p>Referrals: 5%</p>
                        </div>
                        
                        <button class="btn btn-outline-1 mt-4">
                            Invest Now
                        </button>
                    </div>
                </a>
            </article>

            <!-- === OIL AND GAS column  === -->
            <article class="col-12 col-lg-4">
                <a href="#" class="plans p-5 shadow rounded-5" id="oil-gas">
                    <div class="plan-details" data-aos="zoom-in">
                        <h2 class="h3">Oil and Gas</h2>
                        <h3 class="h1 pricing">
                            <small>from</small>
                            <sup>$</sup>5000
                        </h3>
                        <div class="d-flex mt-4">
                            <i class="bi bi-check-all"></i>
                            <p>Max Amount: 5,000,000</p>
                        </div>
                        
                        <div class="d-flex">
                            <i class="bi bi-check-all"></i>
                            <p>Profit: 5%</p>
                        </div>
                        
                        <div class="d-flex">
                            <i class="bi bi-check-all"></i>
                            <p>Duration: After 1 Week</p>
                        </div>

                        <div class="d-flex">
                            <i class="bi bi-check-all"></i>
                            <p>Referrals: 5%</p>
                        </div>
                        
                        <button class="btn btn-1 mt-4">
                            Invest Now
                        </button>
                    </div>
                </a>
            </article> 

            <!-- === REAL ESTATE column  === -->
            <article class="col-12  col-lg-4">
                <a href="{% url 'plans' %}" class="plans p-5 shadow rounded-5" id="realestates">
                    <div class="plan-details" data-aos="zoom-in">
                        <h2 class="h3">Real Estates</h2>
                        <h3 class="h1 pricing">
                            <small>from</small>
                            <sup>$</sup>5000
                        </h3>
                        <div class="d-flex mt-4">
                            <i class="bi bi-check-all"></i>
                            <p>Max Amount: 5,000,000</p>
                        </div>
                        
                        <div class="d-flex">
                            <i class="bi bi-check-all"></i>
                            <p>Profit: 5%</p>
                        </div>
                        
                        <div class="d-flex">
                            <i class="bi bi-check-all"></i>
                            <p>Duration: After 1 Week</p>
                        </div>

                        <div class="d-flex">
                            <i class="bi bi-check-all"></i>
                            <p>Referrals: 5%</p>
                        </div>
                        
                        <button class="btn btn-outline-1 mt-4 d-inline-block">
                            Invest Now
                        </button>
                    </div>
                </a>
            </article>
            
            <!-- === Manage the see more -->
            <article class="col-12 ms-auto">
                <a 
                    href="{% url 'plans' %}" 
                    class="fw-bolder w-auto d-flex justify-content-end" 
                    style="font-size: 16px !important; color: darkslateblue;"
                >
                    See More 
                    <i 
                        class="bi bi-arrow-right ms-3" 
                        style="color: darkslateblue;">
                    </i>
                </a>
            </article>
        </section>
    </div>
</section>
<!-- === END OF INVESTMENT PLAN SECTION === -->

<!-- === ACHIEVEMENT SECTION === -->
<section id="achievements">
<div class="container">
    <section class="row">
        <article class="col-12 col-md-8 mx-auto">
            <div class="text-center">
                <h1>
                    Our Track Record of Success
                </h1>
                <p>
                    At RiazVest, we’ve built a reputation for excellence by consistently 
                    helping our clients grow their wealth.
                </p>
            </div>
        </article>
    </section>

    <section class="row pt-5">
        <article class="col-12 col-md-12  col-lg-8 offset-lg-2">
            <div class="row g-4">
                <div class="col-6 col-md-4">
                    <div class="achievement">
                        <h3>$400M +</h3>
                        <p>Assets Managed</p>
                    </div>
                </div>

                <div class="col-6 col-md-4">
                    <div class="achievement">
                        <h3>17,000 +</h3>
                        <p>Satisfied Investors</p>
                    </div>
                </div>
                    
                <div class="col-6 col-md-4">
                    <div class="achievement">
                        <h3>7Yrs +</h3>
                        <p>Industry of Excellence</p>
                    </div>
                </div>

                <div class="col-6 col-md-4">
                    <div class="achievement">
                        <h3>95 % +</h3>
                        <p>Client Retention Rate</p>
                    </div>
                </div>

                <div class="col-6 col-md-4">
                    <div class="achievement">
                        <h3>$ 80M +</h3>
                        <p>Profit paid to Investors</p>
                    </div>
                </div>

                <div class="col-6 col-md-4">
                    <div class="achievement">
                        <h3>100 %</h3>
                        <p>Transparent Operations</p>
                    </div>
                </div>
            </div>
        </article>    
    </section>
</div>
</section>

<!-- === Testimonial Section ===-->
<section>
    <div class="container">
        <div class="row">
            <article class="col-12 col-md-8 mx-auto text-center">
                <header class="py-5">
                    <h1>What Our Investors Say</h1>
                    <p>
                        Hear from our clients who have grown their wealth with us.
                    </p>
                </header>
            </article>
        </div>
    </div>
</section>

<!-- === Testimonial swider slide Section ===-->
<div class="swiper myTestimonial mb-5">
    <div class="swiper-wrapper">
        <!-- Testimonial 1 -->
        <div class="swiper-slide">
            <div class="testimony border bg-light p-5">
                <span>⭐⭐⭐⭐⭐</span>
                <p>
                    Investing in the Oil & Gas plan through RiazVest has been an eye-opener. 
                    The returns have been consistent, 
                    and the platform makes it easy to track my profits. 
                    I've already recommended it to my colleagues!
                </p>
                <div class="d-flex">
                    <img 
                        class="img-fluid rounded-circle" 
                        src="{% static 'images/avatar3.webp' %}" 
                        alt="profile image"
                        style="height: 70px; width: 70px;"
                    >
                    <div class="ps-3">
                        <h5>James Patterson</h5>
                        <h6>Energy Consultants</h6>
                        <h6 class="choice-plan">Oil & Gas Plan</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="testimony border bg-light p-5">
                <span>⭐⭐⭐⭐⭐</span>
                <p>
                    I love the predictability that comes with the Cryptocurrency using signals. 
                    As someone who prefers low-risk investments, 
                    RiazVest offered the perfect solution to help me secure my future while earning steady returns.
                </p>
                
                <div class="d-flex">
                    <img 
                        class="img-fluid rounded-circle" 
                        src="{% static 'images/avatar1.webp' %}" 
                        alt="profile image" style="height: 70px; width: 70px;">
                    <div class="ps-3">
                        <h5>Emily Chen</h5>
                        <h6>School Teacher</h6>
                        <h6 class="choice-plan">Bitcoin Plan</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="testimony border bg-light p-5">
                <span>⭐⭐⭐⭐⭐</span>
                <p>
                    The Tech Plan at RiazVest really resonated with me, as I wanted to invest in cutting-edge industries. 
                    My experience has been fantastic so far, 
                    with excellent returns and an intuitive platform.
                </p>
                <div class="d-flex">
                    <img 
                        class="img-fluid rounded-circle" 
                        src="{% static 'images/avatar4.webp' %}" 
                        alt="profile image"
                        style="height: 70px; width: 70px;"
                    >
                    <div class="ps-3">
                        <h5> Olivia Carter</h5>
                        <h6> Seed Investor </h6>
                        <h6 class="choice-plan">AI and Web3 Plan</h6>
                    </div>
                </div>
            </div>
        </div>

        <!-- Repeat for more testimonials -->
        <div class="swiper-slide">
            <div class="testimony border bg-light p-5">
                <span>⭐⭐⭐⭐</span>
                <p>
                    Investing in the Oil & Gas plan through RiazVest has been an eye-opener. 
                    The returns have been consistent, 
                    and the platform makes it easy to track my profits. 
                    I've already recommended it to my colleagues!
                </p>
                <div class="d-flex">
                    <img 
                        class="img-fluid rounded-circle" 
                        src="{% static 'images/avatar5.webp' %}" 
                        alt="profile image"
                        style="height: 70px; width: 70px;"
                    >
                    <div class="ps-3">
                        <h5>James Patterson</h5>
                        <h6>Energy Consultants</h6>
                        <h6 class="choice-plan">Oil & Gas Plan</h6>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Navigation Buttons -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>

    <!-- Pagination -->
    <div class="swiper-pagination"></div>
</div>            
   
{% endblock content %}