{% extends 'pages/base.html' %} 
{% load static %} 

{% block content %}
<!--=== THE ABOUT PAGE ===-->
<section id="plans">
    <section class="breadcrumb-pages">
        <div class="container">
            <section class="row">
                <article class="col-12 col-lg-8 offset-lg-2 mx-auto text-center">
                    <h1>Explore our Investment Plans</h1>
                    <p class="text-white">
                        At RiazVest, we offer a variety of investment plans to suit your financial goals and risk appetite. 
                        Whether you're looking to invest in Oil & Gas, Gold, Real Estate, or Bonds, we have the right plan for you.
                        Choose the one that best aligns with your vision for wealth growth and start earning consistent returns today.
                    </p>
                </article>
            </section>
        </div>
    </section>

    <!--=== BREADCRUMB SECTION ===-->
    <nav class="breadcrumbLink">
        <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">Investment Plans</li>
        </ol>
        </div>
    </nav>

    <section class="plan">
        <div class="container">
            <article class="col-12">
                {% for plan in plans %}
                <div
                    class="row gy-4 pricing-item mb-5"
                    data-aos="fade-up"
                    data-aos-delay="100"
                >
                    <div class="col-lg-3 d-flex ">
                        <img 
                            src="{{plan.image.url}}" 
                            alt="" 
                            class="img-fluid rounded-5"
                            style="object-fit: cover;"
                        >
                    </div>
                    <div class="col-lg-3 d-flex flex-column justify-content-center">
                        <h3 class="h4 text-success fw-bolder">{{plan.name}}</h3>
                        <span class="text-secondary">Starts at </span>
                        <h4><sup>$</sup>{{plan.min_amount}}<span> / plan</span></h4>
                    </div>
                    <div class="col-lg-3 d-flex align-items-center justify-content-center">
                        <ul>
                            <li><i class="bi bi-check-all"></i> Max Amount: ${{plan.max_amount}}</li>
                            <li><i class="bi bi-check-all"></i> Profit: {{plan.daily_profit_rate}}% Daily</li>
                            <li><i class="bi bi-check-all"></i> Duration: Weekly </li>
                            <li><i class="bi bi-check-all"></i> Referral Bonus: 10%</li>
                        </ul>
                    </div>
                    <div class="col-lg-3 d-flex align-items-center justify-content-center">
                        <div class="text-center">
                        <a href="{% url 'buy_investment' plan.name %}" class="btn btn-1">Buy Now</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- End Pricing Item -->
            </article>
        </div>
    </section>
</section>
    <!--=== END OF THE BREADCRUMB SECTION ===-->

{% endblock content %}