

.sidebar{
    background: #228B22;
    height: 100vh !important;
    z-index: 100;
    overflow: hidden;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background: var(--secondary-color);
    /* background: #32CD32; */
    font-weight: bolder;
    transition: .4s;
}

.nav-pills .nav-link{
    font-weight: bolder;
    /* color: var(--secondary-color); */
    color: #dddddd;
    transition: .4s;
}

.nav-pills .nav-link.active .bi{
    color: #FFF;
}
.nav-pills .nav-link .bi{
    color: #F0F0F0;
    font-weight: bolder;
    font-size: 1.2em;
}