

.sidebar{
    /* background: #2F4F4F; */
    background: #003366;
    min-height: 100vh !important;
    z-index: 100;
    position: sticky;
    top: 0;
    overflow: auto;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background: #32CD32;
    /* background: #228B22; */
    font-weight: bolder;
    transition: .4s;
}

.nav-pills .nav-link{
    font-weight: bolder;
    /* color: var(--secondary-color); */
    color: #D9D9D9;
    transition: .4s;
}

.nav-pills .nav-link.active:hover{
    color: #F8F8F8;
}

.nav-pills .nav-link:hover{
    color: var(--secondary-color);
}

.nav-pills .nav-link.active .bi{
    color: #FFF;
}
.nav-pills .nav-link .bi{
    color: #F0F0F0;
    font-weight: bolder;
    font-size: 1.2em;
}

/**
**  CONTENT AREA 
**/
#sidebarTabsContent{
    background: linear-gradient(180deg, #FAFAFA, #F5F5F5); 
    background-repeat: repeat; /* Ensures the pattern repeats */
    background-blend-mode: overlay; /* Blends the gradient and pattern */
    min-height: 100vh;
    overflow: auto;
}

#content-dashboard .summary{
    background-color: #FFF;
    padding: 10px 10px;
    border: 1px solid var(--secondary-color);
}

#content-dashboard .summary .bi{
    color: #32CD32;
    font-size: 1.7rem;
}

.table{
    background: transparent !important;
}

