{% extends 'pages/base.html' %} {% load static %} {% load crispy_forms_tags %}

{% block content %}
<!-- 
    ** PAYMENT AND CONFIRMATION FORM
    ** Handling payments and payment confirmation
    ** Route from user profile or any package subscription page
    ** Redirect client from this page back to profile
-->
    <section 
        id="buy_investment"
    >
        <div class="container">
            <section class="row g-5">
                <article class="col-12 col-md-6">
                    <div class="bg-white shadow-sm p-5 rounded-4">
                        <!-- Forms-->
                        <form action="" method="post" enctype="multipart/form-data" id="payment_form">
                            <!-- Make payment form--> 
                            <div class="tab">
                                <div class="p-4 mb-4">
                                    <header class="display-6 text-center fw-bold">
                                        Make Payment
                                    </header>
                                </div>
                                {% csrf_token %}
                                {{ p_form|crispy }}
                            </div>
                            
                            <!-- Confirm payment form -->
                            <div class="tab">
                                <div class="py-3 text-center">
                                    <div id="div_btc">                                       
                                        <span 
                                            id="btc" 
                                            class="btc payment" 
                                            onclick="copyWallet('btc')"
                                            style="display: none;"
                                        >
                                            <p class="text-success fw-bold">click on the box to copy</p>
                                            <p class="payment">17igN1WHBrrvfNtYHyq2nXHeMDwtHsek8h</p>
                                        </span>
                                        <input 
                                            id="btc_wallet"
                                            type="hidden" 
                                            value="17igN1WHBrrvfNtYHyq2nXHeMDwtHsek8h"
                                        />
                                    </div>
                                    <div>
                                        <span 
                                            id="usdt" 
                                            class="usdt payment" 
                                            onclick="copyWallet('usdt')"
                                            style="display: none;"
                                        >
                                            <p class="text-success fw-bold">click  on the box to copy</p>
                                            <p class="payment">TL5zxgyExUjqxNMYc4MQyeiEubfn3n9cbk</p>
                                            <small>
                                                Chain Type: <span style="color: rgb(56, 0, 154)">TRON TRC20</span>
                                            </small>
                                        </span>
                                        <input 
                                            id="usdt_wallet"
                                            type="hidden" 
                                            value="TL5zxgyExUjqxNMYc4MQyeiEubfn3n9cbk"
                                        />
                                    </div>
                                    
                                    <div>
                                        <span 
                                            id="ethereum" 
                                            class="ethereum payment" 
                                            onclick="copyWallet('ethereum')"
                                            style="display: none;"
                                        >
                                            <p class="text-success fw-bold">click on the box to copy</p>
                                            <p class="payment">
                                                0xec2bb2010265dc0ee23c3d96d0aae4d684f33119
                                            </p>
                                            <small>
                                                Chain Type: <span style="color: rgb(56, 0, 154)">ETH ERC20</span>
                                            </small>
                                        </span>
                                        <input 
                                            id="ethereum_wallet"
                                            type="hidden" 
                                            value="0xec2bb2010265dc0ee23c3d96d0aae4d684f33119"
                                        />
                                    </div>
                                    
                                </div>
                                {% csrf_token %}
                                {{ cp_form|crispy }}
                            </div>

                            <input type="submit" value="CONFIRM PAYMENT" class="btn btn-1 btn-lg col-12">
                        </form>
                    </div>
                </article>

                <!-- Interested package information -->
                <article class="col-12 col-md-5 p-5">
                    <!-- <div class=""> -->
                        <div class="py-4">
                            <p>
                                <span class="fw-bold text-danger">Note:</span>   
                                <span class="text-muted">
                                    Send Payment proof required for quick validation.
                                </span>
                            </p>
                        </div>
                        <span>
                            <h5 class="text-muted">Package Name</h5>
                            <h4 id="plan_name" style="color: #08c908;">{{plan.name}}</h4>
                            <!-- <p>
                                {{plan.description|truncatewords:25}}
                            </p> -->
                        </span>
                        <span class="d-flex justify-content-between py-4">
                            <span>
                                <h5 class="text-muted">Min</h5>
                                <h4 class="fw-bold">${{plan.min_amount}}</h4>
                            </span>
                            <span class="text-primary"> - to - </span>
                            <span>
                                <h5 class="text-muted">Max</h5>
                                <h4 class="fw-bold">${{plan.max_amount}}</h4>
                            </span>
                        </span>
                        <span>
                            Estimated profit: <span class="fw-bold">{{plan.daily_profit_rate}}% / daily</span>
                        </span>
                        
                    <!-- </div> -->
                </article>
            </section>
        </div>
    </section>
{%  endblock content %}